<?php
$baseUrl = $this->baseUrl();
$this->placeholder('headling_1')->captureStart(); 
$listGroups = Centurion_Auth::getInstance()->getIdentity()->groups->toArray();
$view_salary = Centurion_Auth::getInstance()->getIdentity()->isAllowed('view_candidate_salary');
foreach($listGroups as $key => $value){
    $groups[] = $value['id'];
}
sort($groups);
?>
<h1>
    <?php echo $this->placeholder('headling_1_content') ?>
        <?php if ($this->previous):?>
            <a class="icon icon-prev" href="<?php echo $this->url(array('id' => $this->previous->id));?>">
                <?php echo $this->translate('Previous'); ?>
            </a>
        <?php else:?>
            &nbsp;
        <?php
        endif;
        ?>
        <?php if ($this->next):?>
            <a class="icon icon-next" href="<?php echo $this->url(array('id' => $this->next->id));?>">
                <?php echo $this->translate('Next')?>
            </a>
        <?php else:?>
            &nbsp;
        <?php endif;?>
</h1>
<?php /*?>
    <div class="pager" >
        <span class="infos"><?php echo $this->translate('<strong>%d</strong> of <strong>%d</strong>', $this->currentCount,
                                                    $this->totalCount);?></span>
    </div>
    <?php */ ?>
<?php $this->placeholder('headling_1')->captureEnd(); ?>
<?php 
if (isset($this->error) || isset($this->infos)) : ?>
    <div class="ui-state-message">
        <?php if (isset($this->errors)):
            $this->errors = (array) $this->errors;
            foreach ($this->errors as $error):
                ?>
                <p class="ui-state-error"">
                    <?php echo $error;?>
                </p>
            <?php
            endforeach;
        ?>
        <?php endif;?>
        <?php if (isset($this->infos)):
            $this->infos = (array) $this->infos;

            foreach ($this->infos as $info):
                ?>
                    <p class="ui-state-highlight">
                        <?php echo $info;?>
                    </p>
                <?php
            endforeach;
        endif;?>
    </div>
<?php endif;?>
<?php //print '<pre>';print_r($this->entretiens);die;?>
<h3>Pré-Qualif</h3><br />
<a href="<?php echo $this->url(array('module' => 'resourcing', 'controller' => 'candidat', 'action' => 'detail'))?>" class="font-blue-alt">
        <?php echo ($this->candidat->first_name && $this->candidat->last_name)?  $this->candidat->first_name . ' ' . $this->candidat->last_name : ''?>
        <?php echo $this->candidat->poste ? ' / ' . $this->candidat->poste : ''?>
    </a>
<div class="clear"></div>
<div class="divider"></div>
<div class="button-block-justified col-md-12" id="prequalif-entretiens">
    <?php //print '<pre>';print_r($this->form->getElement('countries'));die;?>
<?php echo $this->partial('partials/tabs.phtml', $this);?>
    <br class="clear" />
    <form action="<?php echo $this->form->getAction() ?>" class="col-md-12 center-margin" method="post" id="form-prequalif">
        <div class="col-md-12">
            <?php echo $this->form->getElement('id_operationnel')?>
            <?php $options = $this->form->getElement('id_operationnel')->getMultiOptions();?>
            <?php if(Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'get'){?>
                    <div class="form-row col-md-6 float-none">
                        <div class="form-label col-md-5">
                            <label for="operationnel">Opérationnel</label>
                        </div>
                        <div class="form-input col-md-7">
                            <select name="operationnel"
                                    id="operationnel-input" disabled>
                                <option value="<?php echo $this->form->getElement('id_operationnel')->getValue() ?>" selected="selected">
                                    <?php echo $options[$this->form->getElement('id_operationnel')->getValue()] ?>
                                </option>
                            </select>
                        </div>
                    </div>
                
            <?php }?>
            <?php 
            echo $this->form->getElement('date_entretien');

            echo $this->form->getElement('changer');

            echo $this->form->getElement('infos_keyrus');

            echo $this->form->getElement('recherche');

            echo $this->form->getElement('piste');

            echo $this->form->getElement('info_societe_actuelle');

            echo $this->form->getElement('disponibilite');
            
            echo $this->form->getElement('id_type_contrat');

            echo $this->form->getElement('preavis');
            
            echo $this->form->getElement('cin');

            echo $this->form->getElement('cin_date_livraison');
            
            if($view_salary):
                
            echo $this->form->getElement('salaire_actuel');
            
            echo $this->form->getElement('salaire_variable');
           
            echo $this->form->getElement('avantages');

            echo $this->form->getElement('pretention_salariale_min');

            echo $this->form->getElement('pretention_salariale_max');
            
            endif;
            echo '<br clear="all" />';
            
            echo $this->form->getElement('id_test_technique');

            echo $this->form->getElement('note_test');
            
            echo $this->form->getElement('mobilite');

            echo $this->form->getElement('mission_etranger');

            echo $this->form->getElement('countries');

            echo $this->form->getElement('duree_mission');

            echo $this->form->getElement('visa');
            
            echo $this->form->getElement('date_exp_visa');
            
            echo '<br clear="all"/>';

            echo $this->form->getElement('ponctualite');

            echo $this->form->getElement('adequation');

            echo $this->form->getElement('fluidite');

            echo $this->form->getElement('vocabulaire');

            echo $this->form->getElement('niveau_francais');

            echo $this->form->getElement('niveau_anglais');
            
            echo $this->form->getElement('aisance');

            echo $this->form->getElement('ecoute');

            echo $this->form->getElement('motivation');

            echo $this->form->getElement('avis');

            echo $this->form->getElement('commentaire');

            echo $this->form->getElement('id_candidat');
            echo $this->form->getElement('_XSRF');
            echo $this->form->getElement('formId')?>
            <?php if(Zend_Controller_Front::getInstance()->getRequest()->getActionName() != 'get' || in_array(1, $groups)):?>
                <div class="form-row col-md-12 float-none">
                    <button class="btn primary-bg large float-right" id="form-prequalif-button">
                        <span class="button-content">Valider</span>
                    </button>
                </div>
            <?php endif?>
        </div>
    </form>
</div>
<script type="text/javascript">
 
    $(function() {
 
 
       $(".chosen-select").chosen();
 
       $(".chosen-search").append('<i class="glyph-icon icon-search"></i>');
       $(".chosen-single div").html('<i class="glyph-icon icon-caret-down"></i>');
 
    });
 
</script>

