<?php
$error = count($this->element->getMessages());
$val = $this->element->getValue();
?>
<div class="<?php echo $this->element->getAttrib('class-tag') ?>">
    <div class="form-label <?php echo $this->element->getAttrib('class-label') ?>">
        <label for="<?php echo $this->element->getLabel() ?>">
            <?php echo $this->element->getLabel() ?>
            <?php if($this->element->isRequired()):?>
                <span class="required">*</span>
            <?php endif?>
        </label>
    </div>
    <div class="form-checkbox-radio <?php echo $this->element->getAttrib('class-input') ?>">
        <?php foreach ($this->element->getMultiOptions() as $value => $label): ?>
            <input type="radio"
                   <?php if($this->element->isRequired()):?>data-required="true"<?php endif?>
                   class="<?php echo $error ? ' error' : '' ?>"
                   name="<?php echo $this->element->getName() ?>"
                   id="<?php echo $this->element->getName() ?>-input-<?php echo $value ?>"
                   value="<?php echo $value ?>"
                   <?php echo $value == $val ? (' checked="checked"') : '' ?> /> 
            <label><?php echo $label ?></label>
        <?php endforeach ?>
            <?php if($error): ?>
                <p class="help-block"><?php echo implode(' ', $this->element->getMessages()) ?></p>
            <?php endif ?>
            <?php if($this->element->getAttrib('help-note')): ?>
                <p class="help-block"><?php echo $this->element->getAttrib('help-note') ?></p>
            <?php endif ?>
    </div>
</div>    
