<?php
$error = count($this->element->getMessages());
$val = $this->element->getValue();

?>
<div class="form-row <?php echo $this->element->getAttrib('class-tag') ?>">
    <div class="form-label <?php echo $this->element->getAttrib('class-label') ?>">
        <label for="<?php echo $this->element->getLabel()?>">
            <?php echo $this->element->getLabel()?>
            <?php if($this->element->isRequired()):?>
                <span class="required">*</span>
            <?php endif?>
        </label>
    </div>
    <div class="form-input <?php echo $this->element->getAttrib('class-input') ?>">
        <select class="col-md-9 <?php echo $error ? ' error' : '' ?> <?php echo $this->element->getAttrib('class')?>"
                <?php if($this->element->isRequired()):?>data-required="true"<?php endif?>
                name="<?php echo $this->element->getName() ?><?php echo $this->element->isArray() ? '[]' : '' ?>"
                id="<?php echo $this->element->getName() ?>-input" 
                placeholder="<?php echo $this->element->getAttrib('data-placeholder')?>"
                multiple="<?php echo $this->element->getAttrib('multiple')?>"
                style="<?php echo $this->element->getAttrib('style')?>">
            <?php foreach($this->element->getMultiOptions() as $value => $label): ?>
            <option value="<?php echo $value ?>"<?php echo (is_array($val) && in_array($value, $val)) ? ' selected="selected"' : '' ?>>
                <?php echo $label ?>
            </option>
            <?php endforeach; ?>
        </select>
        <?php if($error): ?>
        <span class="help-inline"><?php echo implode(' ', $this->element->getMessages()) ?></span>
        <?php endif ?>
        <?php if($this->element->getAttrib('help-note')): ?>
        <p class="help-block"><?php echo $this->element->getAttrib('help-note') ?></p>
        <?php endif ?>
    </div>
</div>