.table td{ font-size:11px !important; padding:3px 5px !important;}
.bg-gray {
     padding:10px;
}

.float-clear {
	display:block;
	clear:both;
}
#page-content-wrapper { background:#fff;}
.rechercheAvance{ margin-bottom:12px;}
.labelCol{ float:left; margin:2px 2% 0 0; width:30%; }
#grid-filter-form .labelCol{  width:14%; }
.groupCol{ float:left; max-width:60%;}
#grid-filter-form .groupCol{ width:60%;}

#grid-filter-form  .form-checkbox-radio .checkbox-radio {
    float:left; width: 19.777%;
}
l.groupCol{ float:left; max-width:60%;}abel{ float:left; margin-right:12px; line-height:2em !important;}
h1, h2, h3{ width:100%; clear:both; overflow:hidden; display:block;}

.form-checkbox-radio label{ line-height:1.2em !important; font-weight:normal;}
.input-append-wrapper { float:left; min-width:70%; position:relative;}
.input-append-wrapper input{ width:100% !important;}
.groupCol label{ font-size:11px; width:18%;}
.mot-cles label{ margin-right: 2%; line-height: 2.2em !important;}
.form-label.form-input label{ width:27%; float:left; }
.form-vertical .form-label.form-input label{ width:auto !important;}
.form-vertical .form-label.form-input input{ width:60% !important;}
.form-label.form-input{ margin-bottom:12px; padding-left:0;}
.form-label.form-input input, .form-label.form-input select, .form-label.form-input textarea{ width:70%}
.form-label.form-input.experience select, .form-label.form-input.experience input[type="text"]{ width:38% !important}

.form-label.form-input.experience label{ width:15% !important;}
.form-label.form-input.poste input{ width:38% !important;}
.poste label{ width:28% !important; }
.form-checkbox-radio{ padding:7px 0; float:left;}

/******************form-candidat***********/
#form-candidat .form-checkbox-radio label{ padding:0 !important; font-size:11px; margin-right:20px;}
#form-candidat .form-checkbox-radio.col-md-10 label{ padding:0 !important; font-size:11px; margin-right:0;}

#form-candidat #nationalite-input{ width:99%; min-height:35px;}
#form-candidat label[for="photo"]{ float:left; font-size:11px !important;} 
#form-candidat label[for="cv"]{ width: 36.6667%; float:left;}
#form-candidat input#cv-input, #form-candidat input#photo-input{ width:98%; font-size:11px !important;}

.outilRh{ float:right; font-weight:bold; font-size:11px; color:#65A6FF ; }


	.outilRh{ margin:-35px 28px 0 0; }
	
/******************************************/
#login-form .pad0B{ padding-bottom:15px !important;}
#login .row{ margin-left:0 !important;margin-right:0 !important;}
.theme-customizer a.change-theme-btn{ display:none !important;}
.hover-gray-alt, .bg-gray-alt{ background:none transparent;}

.icon-remove:before, .search-choice-close:before, .ui-icon-closethick:before, .icon-clock-os:before {
    content: close-quote !important; 
	background:url(../images/remove.png) no-repeat;
	width:16px; height:16px;
}
.icon-eye:before {
    content: close-quote !important; 
	background:url(../images/view.png) no-repeat;
		display:block;
	width:16px; height:16px;
}
#Centurion_ZFDebug_debug{ display:none;}
#list-candidats .button-group{ margin-top:7px;}
#list-candidats .button-group > .btn + .btn {
    margin-left: 5px !important;
}
#list-candidats .button-group > .btn:hover{animation-duration: 0.7s;
    animation-fill-mode: both;}


#list-candidats .button-group a:hover {
	transition: all 0.3s ease 0s;
    animation-duration: 0.4s;
    animation-fill-mode: both;
	animation-name: swing;
}
#parsley-competence{ clear: both;}
/******************************************/

#form-prequalif label{
    height: auto !important;
    line-height: 1.5em !important;
    white-space: inherit !important;
}

.fileinput-preview img{  max-height: 100px;
    max-width: 100px;}
#form-planif-entr .btn{ margin-bottom:20px !important; }
#form-planif-entr .dropdown{display:block !important;}
#form-planif-entr .bootstrap-timepicker-widget table td.separator{ width:5% !important;}
#form-planif-entr .bootstrap-timepicker-widget.dropdown-menu.open input {
border-right:#cdcdcd solid 1px !important;
}

.ui-dialog .ui-dialog-content {overflow: visible; display:block;}

/****************/
.form-row{ margin-bottom:10px !important; padding-bottom:0 !important;}



#modal-add-event .form-row{ width:99%; float:left;}
#modal-add-event .form-row label{ width:30%; float:left; height: 32px;
line-height: 32px;
font-weight: 700;
display: block;
margin-left: 10px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;}
#modal-add-event .form-row input{ width:60%;}
#modal-add-event .form-label{ float:left; width:48%; padding:0; margin:0;}
#modal-add-event .form-label label{ width:28% !important; float:left;}
#modal-add-event .form-label .form-input{ width:60% !important; float:left; padding:0 !important; margin:0 !important; min-width: 60% !important;}
#modal-add-event .dropdown.bootstrap-timepicker {
margin: 0 0 15px 0 !important;
}

#modal-add-event .btn { margin-bottom: 20px;}


#modal-add-event .bootstrap-timepicker-widget table td.separator{ width:5% !important;}
#modal-add-event .bootstrap-timepicker-widget.dropdown-menu.open input {
border-right:#cdcdcd solid 1px !important;
}

.smile input[type=radio] {
margin-top: 10px;
}
/***************************Rate System****************************/
  
a.vote_up {  
 background:url("../images/thumb_up.png");  
}  
  
a.vote_down {  
 background:url("../images/thumb_down.png");  
}  


.input, .form-input input, .form-input select, .form-input textarea, .chosen-container-multi, .bootstrap-timepicker-widget table td input, .ui-toolbar select, .ui-toolbar input {
height: 20px; 
background-color: #fff; 
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.17); 
-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.17); 
box-shadow: inset 0 1px 3px rgba(0,0,0,.17); 
border: solid 1px #ababab;
}
.form-input textarea{ height:60px;}
.form-label label, .form-input .input-description, .form-input .ui-helper-hidden-accessible, .parsley-error-list {
    font-weight: normal;
	font-size:12px;
	color:#5b5b5b;
    line-height: 20px;
	height:auto;

}


#page-title {
    margin: -5px 0 15px;
    padding:3px 20px;
    position: relative;
    z-index: 1000;
	height: 30px; 
	background-color: #484848; 
	border: solid 1px rgba(0,0,0,.1); 
	background-image: -webkit-linear-gradient(bottom, #171717, #2f2f2f); 
	background-image: -moz-linear-gradient(bottom, #171717, #2f2f2f); 
	background-image: -o-linear-gradient(bottom, #171717, #2f2f2f); 
	background-image: linear-gradient(to top, #171717, #2f2f2f);
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

#page-title > h3 {
    font-size: 16px;
	line-height:1.7em;
	color:#fff;
}
#page-content {
    background: none transparent;
	padding:0 10px 10px;
}
#page-content-wrapper {
    margin-left: 220px;
    margin-top: 20px;
		background-color: #efefef; 
		-webkit-box-shadow: 0 3px 10px rgba(115,115,115,.34); 
		-moz-box-shadow: 0 3px 10px rgba(115,115,115,.34); 
		box-shadow: 0 3px 10px rgba(115,115,115,.34); 
		border: solid 1px #c8c8c8;
		-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#page-sidebar {
    width: 180px;
	background-color: #efefef; 
	border: solid 1px #c8c8c8;

}
#sidebar-menu{ background: none transparent;}

#page-sidebar li a {
    color: #5b5b5b;
	font-size:13px;
}

.input-append-wrapper .append-right input {
-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
	border-right:1px solid #ABABAB;
}
.icon-calendar:before {
    color: #5B5B5B;
}

.input-append {
    height: auto;
    line-height: 17px;
	position:absolute; right:0;
	background: none transparent;
}

.append-right {
    margin-right: 0;
}
#header-logo { 
width:190px;
height: 53px; 
background-color: #acacac; border: solid 1px rgba(0,0,0,.1); background-image: -webkit-linear-gradient(bottom, #171717, #2f2f2f); background-image: -moz-linear-gradient(bottom, #171717, #2f2f2f); background-image: -o-linear-gradient(bottom, #171717, #2f2f2f); background-image: linear-gradient(to top, #171717, #2f2f2f);
}

#page-header {
    height: 54px; 
background-color: #acacac; border: solid 1px rgba(0,0,0,.1); background-image: -webkit-linear-gradient(bottom, #171717, #2f2f2f); background-image: -moz-linear-gradient(bottom, #171717, #2f2f2f); background-image: -o-linear-gradient(bottom, #171717, #2f2f2f); background-image: linear-gradient(to top, #171717, #2f2f2f)
}
.table th{ line-height:1.2em !important; min-width:55px;}
.table th,  .table th a{
	background:#5b5b5b;
	color:#fff !important;
}


/*********type file**************/
div.fileinputs {
    height: 22px;
    position: relative;
	width:157px;
	background:url(../images/choose_file.png) no-repeat;
}

div.fileinputs input.hidden_f {
    opacity: 0;
    position: relative;
    text-align: right;
    z-index: 2;
	cursor:pointer;
}
div.fileinputs input.file {
    margin: 0;
    width: 157px;
}
div.fileinputs input {
  background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17) inset;
    height: 20px;
}

div.fakefile {
    left: 0;
    line-height: 90%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 350px;
    z-index: 1;
}

.fileinput-preview{ text-align:center; width:120px; height:115px; margin-bottom:5px; }

.form-checkbox-radio .col-md-3 { width:19.8% !important;}

.pad15T {
padding-top: 3px!important;
}

.cvCol{ margin-left:18px;}
.statutCol .col-md-7{ padding:0 !important;}