<?php 
    $baseUrl = $this->baseUrl();
    $this->headLink()->appendStylesheet($baseUrl.'/layouts/backoffice/styles.css')
                     ->appendStylesheet('/assets/css/minified/aui-production.min.css')
                     ->appendStylesheet('/assets/themes/minified/fides/color-schemes/dark-blue.min.css')
                     ->appendStylesheet('/assets/themes/fides/common.css')
                     ->appendStylesheet('/assets/themes/fides/responsive.css');
    $this->headScript()->appendFile($baseUrl.'/layouts/backoffice/js/all.js')
                       ->prependFile($baseUrl.'/cui/libs/jquery-ui.js')
                       ->prependFile($baseUrl.'/cui/libs/jquery.js')
                       ->prependFile($baseUrl.'/assets/js/minified/aui-production.min.js');
?>
<!DOCTYPE html>
<html>
<head>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <?php echo $this->headTitle() ?>
    <base href="<?php echo $baseUrl; ?>/" />
    <?php echo $this->headLink() ?>
    <?php echo $this->headMeta() ?>
    <?php echo $this->headStyle() ?>
    <?php echo $this->headScript() ?>
    <!--[if lt IE 9]>
      <script src="assets/js/minified/core/html5shiv.min.js"></script>
      <script src="assets/js/minified/core/respond.min.js"></script>
    <![endif]-->

    <META http-equiv="Cache-Control" content="no-cache">
    <META http-equiv="Pragma" content="no-cache">
    <META http-equiv="Cache" content="no store">
    <META http-equiv="Expires" content="0">
    
    <!-- Favicons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">

</head>

	<body <?php if($this->placeholder('body_id')!= '') echo 'id="'.$this->placeholder('body_id').'"'; ?> <?php if($this->placeholder('body_class') != '') echo 'class="'.$this->placeholder('body_class').'"'; ?>>
            <div id="loading" class="ui-front loader ui-widget-overlay bg-white opacity-100">
                <img src="assets/images/loader-dark.gif" alt="">
            </div>

            <div class="theme-customizer">
                <a href="javascript:;" class="change-theme-btn" title="Change theme">
                    <i class="glyph-icon icon-cog"></i>
                </a>
                <div class="theme-wrapper">

                    <div class="popover-title">Color schemes</div>
                    <div class="pad10A clearfix change-layout-theme">
                        <p class="font-gray-dark font-size-11 pad0B">More color schemes will be available soon!</p>
                        <div class="divider mrg10T mrg10B"></div>
                        <a href="javascript:;" class="choose-theme" layout-theme="dark-blue" title="">
                            <span style="background: #2381E9;"></span>
                        </a>
    <!--                         <a href="javascript:;" class="choose-theme opacity-30" layout-theme="white-blue" title="">
                            <span style="background: #2381E9;"></span>
                        </a> -->
                        <a href="javascript:;" class="choose-theme" layout-theme="dark-green" title="D">
                            <span style="background: #78CE12;"></span>
                        </a>
    <!--                         <a href="javascript:;" class="choose-theme opacity-30" layout-theme="white-green" title="D">
                            <span style="background: #78CE12;"></span>
                        </a> -->
                        <a href="javascript:;" class="choose-theme" layout-theme="dark-orange" title="">
                            <span style="background: #FF6041;"></span>
                        </a>
    <!--                         <a href="javascript:;" class="choose-theme opacity-30" layout-theme="white-orange" title="">
                            <span style="background: #FF6041;"></span>
                        </a> -->
                        <a href="javascript:;" class="choose-theme" layout-theme="inverse-blue" title="">
                            <span style="background: #20242A;"></span>
                        </a>
                        <a href="javascript:;" class="choose-theme" layout-theme="dark-gray" title="">
                            <span style="background: #646464;"></span>
                        </a>
                    </div>
                    <div class="popover-title">Layout options</div>
                    <div class="pad10A clearfix">
                        <a class="fluid-layout-btn hidden bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Full width layout</span></a>
                        <a class="boxed-layout-btn bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Boxed layout</span></a>

                        <a class="enable-animations hidden bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Enable animations</span></a>
                        <a class="disable-animations bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Disable animations</span></a>
                    </div>
                    <div class="popover-title">Boxed layout backgrounds</div>
                    <div class="pad10A clearfix">
                        <a href="javascript:;" class="choose-bg" boxed-bg="#000" style="background: #000;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#333" style="background: #333;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#666" style="background: #666;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#888" style="background: #888;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#383d43" style="background: #383d43;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#fafafa" style="background: #fafafa; border: #ccc solid 1px;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#fff" style="background: #fff; border: #eee solid 1px;" title=""></a>
                    </div>

                </div>
            </div>
            
                <!--section class="login-box"-->
                    <?php echo $this->layout()->content ?>
                <!--/section-->
            
	</body>
</html>