<!-- AUI Framework -->
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Intranet Sourcing Equinoxes</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Favicons -->

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/assets/images/icons/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">

        <!--[if lt IE 9]>
          <script src="/assets/js/minified/core/html5shiv.min.js"></script>
          <script src="/assets/js/minified/core/respond.min.js"></script>
        <![endif]-->

        <!-- Fides Admin CSS Core -->

        <link rel="stylesheet" type="text/css" href="/assets/css/minified/aui-production.min.css">

        <!-- Theme UI -->

        <link id="layout-theme" rel="stylesheet" type="text/css" href="/assets/themes/minified/fides/color-schemes/dark-blue.min.css">

        <!-- Fides Admin Responsive -->

        <link rel="stylesheet" type="text/css" href="/assets/themes/minified/fides/common.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="../_/assets/themes/fides/common.css"> -->

        <link id="theme-animations" rel="stylesheet" type="text/css" href="/assets/themes/minified/fides/animations.min.css">

        <link rel="stylesheet" type="text/css" href="/assets/themes/minified/fides/responsive.min.css">
        <?php if(Zend_Controller_Front::getInstance()->getRequest()->getControllerName() === 'events' ):?>
            <link rel="stylesheet" type="text/css" href="/assets/css/minified/components/calendar.min.css">
        <?php endif?>
        <link rel="stylesheet" type="text/css" href="/assets/css/script.css">

        <!-- Fides Admin JS -->
        <script type="text/javascript" src="/assets/js/minified/aui-production.min.js"></script>
        <script type="text/javascript" src="/assets/js/minified/core/raphael.min.js"></script>
        <script type="text/javascript" src="/assets/js/minified/widgets/charts-justgage.min.js"></script>
        <?php if(Zend_Controller_Front::getInstance()->getRequest()->getControllerName() === 'index' ):?>
            <script type="text/javascript" src="/assets/js/minified/core/raphael.min.js"></script>
            <script type="text/javascript" src="/assets/js/minified/widgets/charts-morris.min.js"></script>
            <script type="text/javascript" src="/assets/js/minified/demo/charts-morris-demo.min.js"></script>
        <?php endif?>
        <?php if(Zend_Controller_Front::getInstance()->getRequest()->getControllerName() === 'candidat' ):?>
            <script type="text/javascript" src="/assets/js/minified/widgets/other-inputmask.min.js"></script>
            <script type="text/javascript">
                
                  $(".input-mask").inputmask();
                
            </script>
        <?php endif?>
         
        <!--<script>$.noConflict();</script>-->
        <script type="text/javascript" src="/assets/js/jasny-bootstrap.js"></script>   
        <script type="text/javascript" src="/assets/js/jquery-dateFormat.js"></script>   
        <script type="text/javascript" src="/assets/js/jquery.raty.js"></script>   
        <script type="text/javascript" src="/assets/js/jquery.scrollTo.min.js"></script>    
        <script type="text/javascript" src="/assets/js/script.js"></script>    

    </head>
    <body>


        <div id="loading" class="ui-front loader ui-widget-overlay bg-white opacity-100">
            <img src="/assets/images/loader-dark.gif" alt="">
        </div>

        <div id="page-wrapper" class="demo-example">

            <?php echo $this->partial('partials/header.phtml');?>

            <?php echo $this->partial('partials/left-menu.phtml');?>
			
            <?php echo $this->partial('partials/right-menu.phtml'); ?>
<!--            <div class="col-md-2">
                <a href="javascript:;" data-layout="top" data-type="success" class="bg-blue-alt small radius-all-2 display-block btn noty">
                    <span class="button-content font-size-11 text-transform-upr">Top success</span>
                </a>
            </div>
            <div class="col-md-2">
                <a href="javascript:;" data-layout="bottom" data-type="error" class="bg-purple small radius-all-2 display-block btn noty">
                    <span class="button-content font-size-11 text-transform-upr">Bottom error</span>
                </a>
            </div>-->
            <div id="page-content-wrapper">
                <div id="page-title">
                    <?php $action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
                          $controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
                          $q = Zend_Controller_Front::getInstance()->getRequest()->getParam('q');
                    ?>
                    <h3>
                        <?php if('candidat' == $controller && 'index' == $action) echo 'Dashboard';?>
                        <?php if('candidat' == $controller && 'new' == $action) echo 'Nouveau candidat';?>
                        <?php if('candidat' == $controller && 'search' == $action) echo 'Recherche';?>
                        <?php if('candidat' == $controller && ('detail' == $action || 'get' == $action)) echo 'Détails candidat';?>
                        <?php if('prequalif' == $controller) echo 'Entretien Pré-Qualif';?>
                        <?php if('operation' == $controller) echo 'Entretien Opérationnel';?>
                        <?php if('direction' == $controller) echo 'Entretien de Direction';?>
                    </h3>
                    <div id="breadcrumb-right" class="hide">
                        <?php echo $this->partial('partials/search-breadcrumb.phtml');?>
                    </div>
                </div><!-- #page-title -->
                <div id="page-content">
                        
                    <?php echo $this->layout()->content ?>
                    
                </div><!-- #page-content -->
            </div><!-- #page-main -->
        </div><!-- #page-wrapper -->

    </body>
</html>
