<?php
    $this->placeholder('body_id')->set('login');
    
    $this->form->getElement('remember_me')->setAttrib('noFormItem', true);
    $this->form->addDisplayGroup(array('remember_me'), 'checkbox');
    $this->form->getDisplayGroup('checkbox')->setAttrib('class', 'form-checkbox')
                                            ->setAttrib('large', 'true')
                                            ->setAttrib('formItem', 'true');


    //$this->form->removeDecorator('Fieldset');

    //$this->form->getElement('send')->getDecorator('Label')
    //                               ->setOption('tagClass', 'hidden');

    $this->form->login->setAttrib('large', true);
    $this->form->password->setAttrib('large', true);
    //
    //$this->gridForm($this->form, array(), array('Centurion administration'=>array('login', 'password', 'checkbox')), array());

    $this->gridForm()->addMain($this->form, array(
        'label'         => 'Log in to your Centurion account',
        'elements'      => array('login',
                                 'password',
                                 'checkbox')
    ));
        
    //                                      ->getDecorator('HtmlTag')->setOption('class', 'checklist');


    $this->form->addElement('button', '_login', array('label' => $this->translate('Log in'), 'type' => 'submit', 'class' => '"ui-button ui-button-text-only'));
    $this->form->addDisplayGroup(array('_login'), 'submit');
    //$this->form->getDisplayGroup('submit')->setAttrib('class', 'submit large nicyless border-top');

    $decoratorsArray = array(
        'FormElements',
        array('HtmlTag', array('tag' => 'div', 'class' => 'form-submit'))
    );

    $this->form->getDisplayGroup('submit')->setDecorators($decoratorsArray);
    $this->form->addInDisplayGroup('submit', '_main');
?>

    <div class="row">
        <form action="" id="login-validation" class="col-md-4 center-margin" method="post">
            <div id="login-form" class="content-box form-vertical">
                <h3 class="content-box-header ui-state-default">
                    <div class="glyph-icon icon-separator">
                        <i class="glyph-icon icon-user"></i>
                    </div>
                    <span>Acc&egrave;s Application Sourcing</span>
                </h3>
                <div class="content-box-wrapper pad20A pad0B">
                    <?php echo $this->form->getElement('login') ?>
                    <?php echo $this->form->getElement('password') ?>
                 
                    <div class="form-row col-md-8">
                        <div class="form-checkbox-radio col-md-12">
                            <!--input type="checkbox" class="custom-checkbox" name="remember-password" id="remember-password"-->
                            <?php echo $this->form->getElement('remember_me') ?>
                        </div>
                    </div>
                    <?php echo $this->form->getElement('next') ?>
                    <?php echo $this->form->getElement('_XSRF') ?>
                    <?php echo $this->form->getElement('_login') ?>
                </div>
            </div>   
        </form>    
    </div>         
<div class="clear"></div>