<?php
$baseUrl = $this->baseUrl();
$this->placeholder('headling_1')->captureStart(); ?>
<h1>
    <?php echo $this->placeholder('headling_1_content') ?>
        <?php if ($this->previous):?>
            <a class="icon icon-prev" href="<?php echo $this->url(array('id' => $this->previous->id));?>">
                <?php echo $this->translate('Previous'); ?>
            </a>
        <?php else:?>
            &nbsp;
        <?php
        endif;
        ?>
        <?php if ($this->next):?>
            <a class="icon icon-next" href="<?php echo $this->url(array('id' => $this->next->id));?>">
                <?php echo $this->translate('Next')?>
            </a>
        <?php else:?>
            &nbsp;
        <?php endif;?>
</h1>
<?php ?>
    <div class="pager" >
        <span class="infos"><?php echo $this->translate('<strong>%d</strong> of <strong>%d</strong>', $this->currentCount,
                                                    $this->totalCount);?></span>
    </div>
    <?php  ?>
<?php $this->placeholder('headling_1')->captureEnd(); ?>
<?php 
if (isset($this->error) || isset($this->infos)) : ?>
    <div class="ui-state-message">
        <?php if (isset($this->errors)):
            $this->errors = (array) $this->errors;
            foreach ($this->errors as $error):
                ?>
                <p class="ui-state-error"">
                    <?php echo $error;?>
                </p>
            <?php
            endforeach;
        ?>
        <?php endif;?>
        <?php if (isset($this->infos)):
            $this->infos = (array) $this->infos;

            foreach ($this->infos as $info):
                ?>
                    <p class="ui-state-highlight">
                        <?php echo $info;?>
                    </p>
                <?php
            endforeach;
        endif;?>
    </div>
<?php endif;?>
<h3><?php 
if ('candidat' == Zend_Controller_Front::getInstance()->getRequest()->getControllerName() && 'get' == Zend_Controller_Front::getInstance()->getRequest()->getActionName()) :
    //echo 'Détails candidat';
    echo '&nbsp;';
else:    
    if(Zend_Controller_Front::getInstance()->getRequest()->getParam('q') == 'operation') echo 'Opérationnel';
    if(Zend_Controller_Front::getInstance()->getRequest()->getParam('q') == 'direction') echo 'Direction';
    if(Zend_Controller_Front::getInstance()->getRequest()->getParam('q') == 'prequalif') echo 'Entretien Préqualif';
endif;
?></h3>
<?php if(Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'candidat' 
            && Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'new'): ?>
<?php else:?>
    <a href="<?php echo $this->url(array('module' => 'resourcing', 'controller' => 'candidat', 'action' => 'detail'))?>" class="font-blue-alt">
        <?php echo (isset($this->candidat->first_name) && isset($this->candidat->last_name))?  $this->candidat->first_name . ' ' . $this->candidat->last_name : ''?>
        <?php echo isset($this->candidat->poste) ? ' / ' . $this->candidat->poste : ''?>
    </a>
    <div class="clear"></div>
    <div class="divider"></div>
    <div class="button-block-justified col-md-12" id="prequalif-entretiens">
    <?php echo $this->partial('partials/tabs.phtml', $this);?>
        <br class="clear" />
<?php endif?>
<form id="form-candidat" action="<?php echo $this->form->getAction() . '/q/' . Zend_Controller_Front::getInstance()->getRequest()->getParam('q') ?>" class="col-md-12 form-row center-margin" method="post" enctype="multipart/form-data">
    <div class="col-md-12 form-row">
        <?php echo $this->form->getElement('type_candidat')?>
        
        <div class="clear"></div>
        <div class="divider"></div>
        
        <div class="col-md-9 form-row">
            <?php echo $this->form->getElement('civilite')?>
            
            <?php echo $this->form->getElement('nationalite')?>
            
            <?php echo $this->form->getElement('last_name')?>
            
            <?php echo $this->form->getElement('email')?>
            
            <?php echo $this->form->getElement('first_name')?>
            
            <?php echo $this->form->getElement('residence')?>
            
            <?php echo $this->form->getElement('tel')?>
            
            <?php echo $this->form->getElement('tel2')?>
            
            <!--<div class="form-row col-md-6"></div>-->
            
        </div>
        <?php echo $this->form->getElement('dp')?>
        <div class="col-md-3 form-row">
            <?php if(isset($this->candidatPhoto)):?>
                <script lang="javascript">
                    $(document).ready(function(){
                        $('.fileinput-preview').html('<img src="<?php echo $this->candidatPhoto?>" width="100px" height="100px"/>');
                    });
                </script>
            <?php endif?>
            <?php echo $this->form->getElement('photo');?>
        </div>
    </div> 
    
    <div class="clear"></div>
    <div class="divider"></div>
   <div class="col-md-6 form-row statutCol"> 
    <?php echo $this->form->getElement('statut')?>
    
    
    
    <?php echo $this->form->getElement('id_domaine')?>
    
   
    
    <?php echo $this->form->getElement('id_etude')?>
    
    
    
    <?php echo $this->form->getElement('ecole')?>
    
    
    
    <?php echo $this->form->getElement('id_experience')?>
    

    <?php echo $this->form->getElement('metier')?>
    </div>
     <div class="col-md-6 form-row"> 
    <?php echo $this->form->getElement('poste')?>
     <?php echo $this->form->getElement('societe')?>
     <?php echo $this->form->getElement('societe_precedente')?>
     <?php echo $this->form->getElement('id_debut_carriere')?>
    <?php echo $this->form->getElement('id_sourcecv')?>
            
    <?php  echo $this->form->getElement('cv')?>
    
    
    </div>
    
    <div class="clear"></div>
	    <?php echo $this->form->getElement('certifie')?>
    
    <?php echo $this->form->getElement('certification')?>
    <div class="clear"></div>
    <?php echo $this->form->getElement('technologie')?>
    
    <?php echo $this->form->getElement('competence')?>
    
    <?php echo $this->form->getElement('competences_secondaires')?>
    
    
    <?php echo $this->form->getElement('commentaire')?>
    <br clear="all" />
   
    <?php echo $this->form->getElement('hidden_cv') ?>
    <?php echo $this->form->getElement('hidden_photo') ?>
    
    <?php echo $this->form->getElement('_XSRF') ?>
    <?php echo $this->form->getElement('formId') ?>
    <div class="form-row col-md-12 float-none">
        <button id="form-candidat-button" class="btn primary-bg large float-right" onclick="javascript:$('#form-candidat').parsley('validate');">
            <span class="button-content">Valider</span>
        </button>
    </div>
     
</form>
<?php 
    $ecoleArray = array();
        foreach($this->ecoles as $ecole):        
            array_push($ecoleArray, json_encode($ecole->ecole));
        endforeach?>        
        
<?php //print '<pre>';print_r(implode('", "', $ecoleArray));die('rrrr');?>        
<script lang="javascript">        
    console.log('mmm');
        $(function() {
 
         var availableTags = [
             <?php echo implode(', ', json_decode($ecoleArray))?>
         ];
         $( ".autocomplete-input" ).autocomplete({
             source: availableTags
         });
 
        // $(".spinner-input" ).spinner();
 
    });
        $('#id_debut_carriere-input').change(function(){
            $.ajax({
                url: '<?php echo $this->url(array('action' => 'get-experience')) ?>',
                data: {debut: $(this).val()},
                type: 'post',
                dataType: 'json',
                success: function(response){
                    if (response) {
                        $('#id_experience-input').html(response);
                        $('#id_experience-input').removeAttr('disabled');
                    }
                }
            });
        });

//        $('#delete-photo').click(function(){
//            $.ajax({
//                url: '<?php //echo $this->url(array('action' => 'delete-photo')) ?>',
//                data: {candidat: <?php //echo Zend_Controller_Front::getInstance()->getRequest()->getParam('id')?>},
//                type: 'post',
//                dataType: 'json',
//                success: function(response){
//                    if (response) {
//                        $('.fileinput-preview').html('<span>Image supprimé</span>');
//                    }
//                }
//            });
//       });
 
</script>


