<?php $listGroups = Centurion_Auth::getInstance()->getIdentity()->groups->toArray();
        foreach($listGroups as $key => $value){
            $groups[] = $value['id'];
        }
        sort($groups);
        
        if(!empty($this->operationnels)){
            $urlOperationnel = $this->url(array('module' => 'resourcing', 
                                                    'controller' => 'operation', 
                                                    'action' => 'get',
                                                    'candidat-id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id'),
                                                    'id' => $this->operationnels[0]['id']
                                                ));
        } else {
            $urlOperationnel = 'javascript:;';
        }
        if(!empty($this->directionnels)){
            $urlDirection = $this->url(array('module' => 'resourcing', 
                                                    'controller' => 'direction', 
                                                    'action' => 'get',
                                                    'candidat-id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id'),
                                                    'id' => $this->directionnels[0]['id']
                                                ));
        } else {
            $urlDirection = 'javascript:;';
        }
        //print_r($groups);die;
        ?>
<div class="col-md-12">
    <?php if(in_array(1, $groups)):?>
        <div class="col-md-6">
            <p class="mrg20T mrg25L mrg25B float-left">
                <i class="glyph-icon icon-plus-square"></i>
                <a href="<?php echo $this->url(array('module' => 'resourcing', 
                                                    'controller' => 'prequalif', 
                                                    'action' => 'new', 
                                                    'id' => null
                                                ))?>" 
                   class="mrg10L font-blue-alt">Ajouter un entretien</a>
            <br />
            <i class="glyph-icon icon-calendar"></i>
                <a href="#" class="mrg10L font-blue-alt planif-entretien">Planifier un entretien</a>
            </p>
        </div>
        <div class="col-md-6">
            <p class="mrg20T mrg25L mrg25B float-left">
                <i class="glyph-icon icon-clock-o"></i>
                <a href="<?php echo $urlOperationnel?>" 
                   class="mrg10L font-blue-alt">Historique Entretiens Opérationnels</a>
                   <br />
                <i class="glyph-icon icon-clock-o"></i>
                <a href="<?php echo $urlDirection?>" class="mrg10L font-blue-alt">Historique Entretiens de Direction</a>
            </p>
        </div>
    <?php elseif(in_array(2, $groups)):?>  
            <?php if(!empty($this->prequalifs)):?>
                <div class="col-md-3 div-center">
                    <p class="mrg20T mrg25L mrg25B float-right">
                        <i class="glyph-icon icon-clock-o"></i>
                        <a href="<?php echo $this->url(array('module' => 'resourcing', 
                                                            'controller' => 'prequalif', 
                                                            'action' => 'get', 
                                                            'candidat-id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id'), 
                                                            'id' => $this->prequalifs[0]['id']
                                                        ))?>" 
                           class="mrg10L font-blue-alt">Historique des préqualifs</a>
                    </p>
                </div>  
            <?php endif?> 
            <div class="col-md-3 div-center">
                <p class="mrg20T mrg25L mrg25B"><i class="glyph-icon icon-plus-square"></i>
                    <a href="<?php echo $this->url(array('module' => 'resourcing', 
                                                        'controller' => 'operation', 
                                                        'action' => 'new', 
                                                        'candidat-id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id'), 
                                                        'q'  => 'operation',
                                                        //'id' => $this->operationnels[0]['id'],
                                                    ))?>" class="mrg10L font-blue-alt" id="add-entretien-op-dir">Entretien Opérationnel</a>
                </p>
            </div>
            <div class="col-md-3 div-center">
                <p class="mrg20T mrg25L mrg25B"><i class="glyph-icon icon-plus-square"></i>
                    <a href="<?php echo $this->url(array('module' => 'resourcing', 
                                                        'controller' => 'direction', 
                                                        'action' => 'new', 
                                                        'candidat-id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id'), 
                                                        'q'  => 'direction',
                                                        //'id' => $this->directionnels[0]['id']
                                                    ))?>" class="mrg10L font-blue-alt" id="add-entretien-op-dir">Entretien de direction</a>
                </p>
            </div>
    <?php elseif(in_array(4, $groups) || in_array(6, $groups)):?>
        <?php if(!empty($this->prequalifs)):?>
                   <div class="col-md-3 div-center">
                       <p class="mrg20T mrg25L mrg25B float-right">
                           <i class="glyph-icon icon-clock-o"></i>
                           <a href="<?php echo $this->url(array('module' => 'resourcing', 
                                                               'controller' => 'prequalif', 
                                                               'action' => 'get', 
                                                               'candidat-id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id'), 
                                                               'id' => $this->prequalifs[0]['id']
                                                           ))?>" 
                              class="mrg10L font-blue-alt">Historique des préqualifs</a>
                       </p>
                   </div>  
          <?php endif?> 
        <div class="col-md-6 div-center">
                    <p class="mrg20T mrg25L mrg25B float-right">
                        <i class="glyph-icon icon-plus-square"></i>
                        <a href="<?php echo $this->url(array('module' => 'resourcing', 
                                                            'controller' => 'operation', 
                                                            'action' => 'new', 
                                                            'candidat-id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id'), 
                                                            'q' => 'operation', 
                                                            'id' => $this->prequalifs[0]['id']
                                                        ))?>" 
                           class="mrg10L font-blue-alt">Entretien Opérationnel</a>
                    </p>
                </div> 
    <?php endif?>
</div>
<br clear="all" />
<div class="button-block-justified col-md-12" id="profil-cv">
    <ul>
        <li>
            <a href="#profil" title="Profil">
                <i class="glyph-icon icon-user float-left"></i>Profil
            </a>
        </li>
        <li>
            <a href="#cv" title="CV">
                <i class="glyph-icon icon-file-o float-left"></i>CV
            </a>
        </li>
    </ul>
    <div id="profil">
        <h4 class="text-transform-upr text-left mrg0T mrg15B bg-gray-alt font-size-20 font-blue">
            <?php echo $this->dataCandidat->first_name . ' ' . $this->dataCandidat->last_name?> / <?php echo $this->dataCandidat->poste?>
        </h4>
        <table class="table">
            <tbody class="text-center">
                <tr>
                    <td class="text-center">
                        <?php if(isset($this->dataCandidat->photo) && !empty($this->dataCandidat->photo) 
                                    && is_file(PUBLIC_PATH . Resourcing_Form_Model_Candidat::PATH_PHOTO . $this->dataCandidat->photo)):?>
                                <img src="<?php echo Resourcing_Form_Model_Candidat::PATH_PHOTO . $this->dataCandidat->photo?>" 
                                     width="100px" height="120px"/>
                        <?php endif?>
                    </td>
                    <td class="text-center">
                        <?php if(isset($this->dataCandidat->cv) && !empty($this->dataCandidat->cv) 
                                && is_file(PUBLIC_PATH . Resourcing_Form_Model_Candidat::PATH_CV . $this->dataCandidat->cv)):?>
                                <a href="<?php echo $this->url(array('module' => 'resourcing', 'controller' => 'candidat', 
                                    'action' => 'download-cv', 'id' => base64_encode(serialize($this->dataCandidat->id))), 
                                        'default', true) ?>" title="Télécharger le CV" class="font-blue-alt">
                                    <i class="glyph-icon icon-download"></i> Télécharger le CV complet
                                </a>
                        <?php endif?>
                    </td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Nationalité</td>
                    <td><?php echo $this->dataCandidat->nationalite?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Email</td>
                    <td><?php echo $this->dataCandidat->email ?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Téléphone</td>
                    <td><?php echo $this->dataCandidat->tel?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Téléphone 2</td>
                    <td><?php echo $this->dataCandidat->tel2?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Résidence</td>
                    <td><?php echo $this->dataCandidat->residence ?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Poste</td>
                    <td><?php echo $this->dataCandidat->poste?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Métier</td>
                    <?php $metiers = $this->dataCandidat->metier->toArray();
                          $candidatMetiers = array();
                          if(isset($metiers) && !empty($metiers)){
                              foreach($metiers as $metier){
                                  array_push($candidatMetiers, $metier['metier']);
                            }
                          }
                    ?>
                    <td><?php echo implode(', ', $candidatMetiers)?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Domaine</td>
                    <td><?php echo $this->dataCandidat->Domaine ?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Etudes</td>
                    <td><?php echo $this->dataCandidat->Etudes ?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Ecole</td>
                    <td><?php echo $this->dataCandidat->ecole ?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Expérience</td>
                    <td><?php echo $this->dataCandidat->Experience ?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Société</td>
                    <td><?php echo $this->dataCandidat->societe?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Société précédente</td>
                    <td><?php echo $this->dataCandidat->societe_precedente?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Début carrière</td>
                    <td><?php echo $this->dataCandidat->DebutCarriere ?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Statut</td>
                    <td><?php echo $this->dataCandidat->statut?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Certifié</td>
                    <td><?php echo $this->dataCandidat->certifie?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Certification</td>
                    <td><?php echo $this->dataCandidat->certification?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Source du CV</td>
                    <td><?php echo $this->dataCandidat->Sourcecv ?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Technologies</td>
                    <?php $technologies = $this->dataCandidat->technologie->toArray();
                          $candidatTechnologies = array();
                          if(isset($technologies) && !empty($technologies)){
                              foreach($technologies as $technologie){
                                  array_push($candidatTechnologies, $technologie['technologie']);
                            }
                          }
                    ?>
                    <td><?php echo implode(', ', $candidatTechnologies)?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Compétences</td>
                    <?php $competences = $this->dataCandidat->competence->toArray();
                          $candidatCompetences = array();
                          if(isset($competences) && !empty($competences)){
                              foreach($competences as $competence){
                                  array_push($candidatCompetences, $competence['competence']);
                            }
                          }
                    ?>
                    <td><?php echo implode(', ', $candidatCompetences)?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Compétences secondaires</td>
                    <td><?php echo $this->dataCandidat->competences_secondaires ?></td>
                </tr>
                <tr>
                    <td class="font-bold text-left">Votes</td>
                    <td>
                        <div class='entry'>  

                            <span class='vote_buttons' id='vote_buttons'>  
                             <a href='javascript:;' class='vote_up'></a>  
                             <a href='javascript:;' class='vote_down'></a>  
                            </span>  
                            <span class='votes_count' id='votes_count'>
                                Votes: <?php echo count($this->rateLike) > 0 ? ' +' . count($this->rateLike) : ''?> 
                                <?php echo count($this->rate) > 0 ? '(from ' .count($this->rate) . ' votes)' : '0'?></span>  
                        </div> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="cv">
        <div class="col-md-12">
            <?php 
            $real_file = realpath(PUBLIC_PATH . Resourcing_Form_Model_Candidat::PATH_CV . $this->dataCandidat->cv);?>
            <?php $ext = pathinfo($real_file, PATHINFO_EXTENSION);
            $file_name = basename($real_file, '.' . $ext);
            $pdf_file = $file_name . '.pdf';
            $host = Zend_Controller_Front::getInstance()->getRequest()->getScheme() . '://' . Zend_Controller_Front::getInstance()->getRequest()->getHttpHost();
            if(is_file(realpath(PUBLIC_PATH . Resourcing_Form_Model_Candidat::PATH_CV . $pdf_file))):
            ?>
                <iframe src="<?php echo $host . Resourcing_Form_Model_Candidat::PATH_CV . $pdf_file?>" width="100%" height="900"></iframe>
            <?php else: ?>
                <div class="infobox error-bg center-div float-right">
                    <p>Pas de CV au format PDF trouvé pour ce candidat</p>
                </div>
            <?php endif?>    
        </div>
    </div>
</div>
<br clear="all" />

<div class="col-md-12 hide" id="planif-entretien" title="Planifier un entretien">
    <div class="div-center">
        <form action="" class="col-md-12 center-margin mrg25T" method="" id="form-planif-entr">
            <div class="form-row pad0B row mrg15B">
                <div class="form-label col-md-4">
                    <label for="">
                        Type entretien:
                    </label>
                </div>
                <div class="form-input col-md-8">
                    <select id="type_entretien" class="col-md-8" name="type_entretien">
                        <option></option>
                        <option value="prequalif">Pre-qualif</option>
                        <option value="4">Operationnel</option>
                        <option value="2">Direction</option>
                    </select>
                </div>
            </div>
            <div class="form-row pad0B row mrg15B">
                <div class="form-label col-md-4">
                    <label for="">
                        Operationnel:
                    </label>
                </div>
                <div class="form-input col-md-8">
                    <select id="operationnel" class="col-md-8" name="operationnel">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-row pad0B row mrg15B">
                <div class="form-label col-md-4">
                    <label for="">
                        Entretien prévu le:
                    </label>
                </div>
                <div class="form-input col-md-8">
                    <div class="input-append-wrapper input-append-right">
                        <div class="input-append primary-bg">
                            <i class="glyph-icon icon-calendar"></i>
                        </div>
                        <div class="append-right">
                            <input type="text" class="input col-md-4" id="date_entretien">
                        </div>    
                    </div>    
                </div>
            </div>
            <div class="form-row pad0B row mrg25B">
                <div class="form-label col-md-4">
                    <label for="">
                        à:
                    </label>
                </div>
                <div class="form-input col-md-8">
                    <div class="input-append-wrapper input-append-right">
                        <div class="input-append primary-bg">
                            <i class="glyph-icon icon-clock-o"></i>
                        </div>
                        <div class="bootstrap-timepicker dropdown append-right">
                            <input type="text" class="event-entretien input" type="text">
                        </div>    
                    </div>    
                </div>
            </div>
            
            <input class="btn ui-state-default medium col-md-2 float-right bg-blue-alt" type="button" value="Envoyer" id="send-mail"/>
            
        </form>
    </div>
</div>
<script lang="javascript">
    $('#type_entretien').change(function(){
            $.ajax({
                url: '<?php echo $this->url(array('action' => 'get-operationnel')) ?>',
                data: {type: $(this).val()},
                type: 'post',
                dataType: 'json',
                success: function(response){
                    if (response) {
                        $('#operationnel').html(response);
                    }
                }
            });
        });
    $("a.vote_up").click(function(){ 
        <?php if($this->isRated):?>
                return false;
        <?php else:?>        
            id_candidat = <?php echo $this->dataCandidat->id?>;
            id_operationnel = <?php echo Centurion_Auth::getInstance()->getIdentity()->id?>;
            //get the id  
            the_id = $(this).attr('id');  
            //console.log(the_id);
            // show the spinner  
            $(this).parent().html("<img src='<?php echo $this->baseUrl('/assets/images/spinner.gif') ?>'/>");  

            //fadeout the vote-count   
            //$("span#votes_count"+the_id).fadeOut("fast");  
            //the main ajax request  
             $.ajax({  
                url: '<?php echo $this->url(array('action' => 'votes')) ?>',  
                data: {action: "vote_up", id: $(this).attr("id"), candidat_id: id_candidat, operationnel: id_operationnel},  
                type: "POST",  
                dataType: 'json',
                success: function(msg)  
                {  
                    $("span#votes_count").html(msg);  
                    //fadein the vote count  
                    $("span#votes_count").fadeIn();  
                    //remove the spinner  
                    //$("span#vote_buttons").remove();  
                    var chaine = "<a href='javascript:;' class='vote_up'></a><a href='javascript:;' class='vote_down'></a>";
                        $("span#vote_buttons").html(chaine);  
                    $("a.vote_up").click(function(){
                        return false;
                    });
                    $("a.vote_down").click(function(){
                        return false;
                    });
                }  
            }); 
        <?php endif?>    
    });  
    $("a.vote_down").click(function(){ 
        <?php if($this->isRated):?>
                return false;
        <?php else:?>        
            id_candidat = <?php echo $this->dataCandidat->id?>;
            id_operationnel = <?php echo Centurion_Auth::getInstance()->getIdentity()->id?>;
            //get the id  
            the_id = $(this).attr('id');  
            //console.log(the_id);
            // show the spinner  
            $(this).parent().html("<img src='<?php echo $this->baseUrl('/assets/images/spinner.gif') ?>'/>");  

            //fadeout the vote-count   
            //$("span#votes_count"+the_id).fadeOut("fast");  
            //the main ajax request  
             $.ajax({  
                url: '<?php echo $this->url(array('action' => 'votes')) ?>',  
                data: {action: "vote_down", id: $(this).attr("id"), candidat_id: id_candidat, operationnel: id_operationnel},  
                type: "POST",  
                dataType: 'json',
                success: function(msg)  
                {  
                    $("span#votes_count").html(msg);  
                    //fadein the vote count  
                    $("span#votes_count").fadeIn();  
                    //remove the spinner  
                    //$("span#vote_buttons").remove();  
                    var chaine = "<a href='javascript:;' class='vote_up'></a><a href='javascript:;' class='vote_down'></a>";
                        $("span#vote_buttons").html(chaine);  
                    $("a.vote_up").click(function(){
                        return false;
                    });
                    $("a.vote_down").click(function(){
                        return false;
                    });
                }  
            }); 
        <?php endif?>    
    });  
    $('#send-mail').click(function(){
            $.ajax({
                url: '<?php echo $this->url(array('action' => 'send-notification')) ?>',
                data: {type: $('#type_entretien').val(), operationnel: $('#operationnel').val(),
                        date_entretien: $('#date_entretien').val(), time_entretien: $('.event-entretien').val()},
                type: 'post',
                dataType: 'json',
                success: function(response){
                    if (response) {
                        var notes = [];
                        notes['success'] = '<i class="glyph-icon icon-cog mrg5R"></i>La notification d\'entretien a bien été envoyé. ';
                        $("#planif-entretien").dialog('close');
                        var self = $(this);
 
                        noty({
                            text        : notes['success'],
                            type        : 'success',
                            dismissQueue: true,
                            theme: 'agileUI',
                            layout      : self.data('layout'),
                            timeout: true,
                            animation: {
                                open: {height: 'toggle'},
                                close: {height: 'toggle'},
                                easing: 'swing',
                                speed: 2000 // opening & closing animation speed
                            },
                        });
                        return false;
                    }
                },
                error: function(response){
                    if (response) {
                        var notes = [];
                        notes['error'] = '<i class="glyph-icon icon-cog mrg5R"></i>Un problème est survenu lors de l\'envoie de la notification';
                        $("#planif-entretien").dialog('close');
                        var self = $(this);
 
                        noty({
                            text        : notes['error'],
                            type        : 'error',
                            dismissQueue: true,
                            theme: 'agileUI',
                            layout      : self.data('layout')
                        });
                        return false;
                    }
                }
            });
        });
</script>
<style type="text/css">
body {  
 background: #e8e6de;  
}  
  
a {  
outline:none;  
}  
  
.entry {  
 /*width: 710px;  */
 background: #ffffff;  
 padding:8px;  
 border:none;  
 margin:5px auto;  
 -moz-border-radius:8px;  
}  
  
span.link a {  
 font-size:150%;  
 color: #000000;  
 text-decoration:none;  
}  
  
a.vote_up, a.vote_down {  
 display:inline-block;  
 background-repeat:none;  
 background-position:center;  
 height:16px;  
 width:16px;  
 margin-left:4px;  
 text-indent:-900%;  
}  

</style>