<div class="col-md-12">
    <h4 class="text-transform-upr text-left mrg0T mrg15B font-gray font-size-14">Candidats</h4>
    <table cellspacing="0" cellpadding="0" class="grid datas table" id="list-candidats">
        <thead>
            <tr>
                <?php if ($this->showCheckbox):?>
                    <th width="10" class="head first"></th>
                <?php endif;?>
                <?php 
                    unset($this->headCol['first_name']);
                    unset($this->headCol['photo']);
                    unset($this->headCol['salaire']);
                
                ?>
                <?php foreach ($this->headCol as $key => $col):
                $sort = '';
                if ($this->sort == $key):
                    $sort = ' sorting-'.strtolower($this->order);
                endif;
                ?>
                <th class="head<?php echo $sort?>">
                    <?php //print '<pre>';print_r($key);?>
                <?php if (null !== $col['link'] && !in_array($key, array('prequalif', 'operation', 'direction', 'Experience', 'likes'))):?>
                    <a href="<?php echo $col['link']?>" class="font-gray-dark"><span class="ui-icon"></span>
                <?php endif;?>
                <?php echo $col['label']?>
                <?php if (null !== $col['link'] && !in_array($key, array('prequalif', 'operation', 'direction', 'Experience'))) :?>
                    </a>
                <?php endif;?>
                </th>
                <?php endforeach;//die;?>
                <th class="head" width="60px"></th>
            </tr>
        </thead>    
        <tbody class="grid-sortable">
            <?php
            $i = 0;
            foreach ($this->result as $id => $row):
            $this->row = $row['row'];
            unset($row['row']);
            unset($row['photo'], $row['salaire']);
            ?>
            <tr class="<?php echo ($i++%2 == 1)?'even':'odd';?>">
                <?php foreach($row as $key => $val):?>
                    <?php //var_dump($key, $val); ?>
                    <?php 
                    if($key == 'id') 
                        $valId = $val;
                    if(in_array($key, array('id', 'last_name'))):
                            $val = '<a href="' . $this->url(array('module' => 'resourcing', 
                                                    'controller' => 'candidat', 
                                                    'action' => 'get',
                                                    'candidat-id' => (int)$valId,
                                                    'q' => 'prequalif',
                                                    'id' => (int)$valId), 'default', true) . '">' . $val . '</a>';
                    elseif($key == 'likes'):
                        $val = $val['returnLike'];
                    endif?>
                    <td class="<?php if ($key === 0) echo 'first '?>col" <?php if ($key === 'likes'):?>width="8%"<?php endif?>>
                        <?php echo in_array($val, array('0', '1'), true) ? ($val == 1 ? 'On' : 'Off') : $val ?>
                    </td>
                    <?php $i++;?>
                <?php endforeach;?>
                <td valign="top" class="col" width="13%">
                    <div class="button-group">
                        <?php foreach ($this->rowActions as $key => $action): ?>
                        <?php if($key == 'Publish'): ?>
                            <?php
                            if($this->row->published == '1') {
                                $action['cls'] = 'ui-icon-locked';
                            }
                            ?>
                            <?php echo $this->GridRowActions($this->row->published == '1' ? 'Unpublish' : 'Publish', $action); ?>
                        <?php else: ?>
                        <?php echo $this->GridRowIconActions($key, $action); ?>
                        <?php endif ?>
                        <?php endforeach; ?>
                    </div>
                </td>
            </tr>
            <?php endforeach;?>
        </tbody>
    </table>
