<form action="<?php echo $this->form->getAction() ?>" class="col-md-12 center-margin" method="post" enctype="multipart/form-data">
    <div class="col-md-12">
        <?php echo $this->form->getElement('type_candidat')->setAttribs(array('data-required' => true, 
                                                                          'class-tag' => 'col-md-8 float-none',
                                                                          'class-label' => 'col-md-3',
                                                                          'class-input' => 'col-md-7'))?>
        
        <div class="clear"></div>
        <div class="divider"></div>
        
        <div class="col-md-8">
            <?php echo $this->form->getElement('civilite')->setAttribs(array('data-required' => true, 
                                                                                  'class-tag' => 'form-row col-md-6',
                                                                                  'class-label' => 'col-md-3',
                                                                                  'class-input' => 'col-md-7'))?>
            
            <?php echo $this->form->getElement('nationalite')->setAttribs(array('class-tag' => 'col-md-6',
                                                                                'data-required' => true,
                                                                                'class-label' => 'col-md-3',
                                                                                'class-input' => 'col-md-9'))?>
            
            <?php echo $this->form->getElement('last_name')->setAttribs(array('data-trigger' => 'change', 
                                                                              'data-required' => true, 
                                                                              'class' => 'parsley-validated',
                                                                              'class-tag' => 'col-md-6',
                                                                              'class-label' => 'col-md-3',
                                                                              'class-input' => 'col-md-7'))?>
            
            <?php echo $this->form->getElement('email')->setAttribs(array('data-type' => 'email', 
                                                                          'data-trigger' => 'change', 
                                                                          'data-required' => true, 
                                                                          'class' => 'parsley-validated',
                                                                          'class-tag' => 'col-md-6',
                                                                          'class-label' => 'col-md-3',
                                                                          'class-input' => 'col-md-7'))?>
            
            <?php echo $this->form->getElement('first_name')->setAttribs(array('data-trigger' => 'change', 
                                                                              'data-required' => true, 
                                                                              'class' => 'parsley-validated',
                                                                              'class-tag' => 'col-md-6',
                                                                              'class-label' => 'col-md-3',
                                                                              'class-input' => 'col-md-7'))?>
            <?php echo $this->form->getElement('tel')->setAttribs(array('data-trigger' => 'change', 
                                                                         'data-required' => true, 
                                                                         'class' => 'input-mask',
                                                                         'class-tag' => 'col-md-6',
                                                                         'class-label' => 'col-md-3',
                                                                         'class-input' => 'col-md-7'))?>
            
            <div class="form-row col-md-6">

            </div>
            
                <?php echo $this->form->getElement('residence')->setAttribs(array('class-tag' => 'col-md-6',
                                                                                  'class-label' => 'col-md-3',
                                                                                  'class-input' => 'col-md-7'))?>
            
        </div>
        <div class="col-md-4">
        <?php echo $this->form->getElement('photo')->setAttribs(array('class-tag' => 'col-md-12',
                                                                      'class-label' => 'col-md-2',
                                                                      'class-input' => 'col-md-10'))?>
            
                </div>
            </div>
    
    <div class="clear"></div>
    <div class="divider"></div>
    
    <?php echo $this->form->getElement('statut')->setAttribs(array('data-required' => true, 
                                                                   'class' => 'col-md-9',
                                                                   'class-tag' => 'col-md-6',
                                                                   'class-label' => 'col-md-3',
                                                                   'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('poste')->setAttribs(array('class-tag' => 'col-md-6',
                                                                  'class-label' => 'col-md-3',
                                                                  'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('id_domaine')->setAttribs(array('class' => 'col-md-9',
                                                                        'class-tag' => 'col-md-6',
                                                                        'class-label' => 'col-md-3',
                                                                        'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('societe')->setAttribs(array('class-tag' => 'col-md-6',
                                                                  'class-label' => 'col-md-3',
                                                                  'class-input' => 'col-md-9',
                                                                  'data-required' => true))?>
    
    
    <?php echo $this->form->getElement('id_etude')->setAttribs(array('class' => 'col-md-9',
                                                                     'class-tag' => 'col-md-6',
                                                                     'class-label' => 'col-md-3',
                                                                     'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('societe_precedente')->setAttribs(array('class-tag' => 'col-md-6',
                                                                    'class-label' => 'col-md-3',
                                                                    'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('ecole')->setAttribs(array('class' => 'col-md-9',
                                                                     'class-tag' => 'col-md-6',
                                                                     'class-label' => 'col-md-3',
                                                                     'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('id_debut_carriere')->setAttribs(array('class' => 'col-md-9',
                                                                     'class-tag' => 'col-md-6',
                                                                     'class-label' => 'col-md-3',
                                                                     'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('id_experience')->setAttribs(array('class' => 'col-md-9',
                                                                        'data-required' => true,
                                                                        'class-tag' => 'col-md-6 float-none',
                                                                        'class-label' => 'col-md-3',
                                                                        'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('certifie')->setAttribs(array( 'data-required' => true, 
                                                                      'class-tag' => 'form-row col-md-6',
                                                                      'class-label' => 'col-md-3',
                                                                      'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('certification')->setAttribs(array('class-tag' => 'col-md-6',
                                                                  'class-label' => 'col-md-3',
                                                                  'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('id_sourcecv')->setAttribs(array( 'data-required' => true,
                                                                      'class' => 'col-md-9',
                                                                      'class-tag' => 'col-md-6',
                                                                      'class-label' => 'col-md-3',
                                                                      'class-input' => 'col-md-9'))?>
    
    
    <?php echo $this->form->getElement('cv')->setLabel('')?>
        
    
    <?php echo $this->form->getElement('metier')->setAttribs(array( 'data-required' => true,
                                                                      'data-placeholder' => 'Métiers',
                                                                      'class' => 'col-md-9',
                                                                      'multiple' => 'multiple',
                                                                      'class-tag' => 'col-md-6',
                                                                      'class-label' => 'col-md-3',
                                                                      'class-input' => 'col-md-9',
                                                                      'style' => 'height: 50px'))?>
    
    <div class="clear"></div>
    <?php echo $this->form->getElement('technologie')->setAttribs(array( 'data-required' => true,
                                                                      'class-tag' => 'col-md-9',
                                                                      'class-label' => 'col-md-3',
                                                                      'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('competence')->setAttribs(array( 'data-required' => true,
                                                                      'class-tag' => 'col-md-9',
                                                                      'class-label' => 'col-md-3',
                                                                      'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('competences_secondaires')->setAttribs(array('class-tag' => 'col-md-6',
                                                                      'class-label' => 'col-md-3',
                                                                      'class-input' => 'col-md-9'))?>
    
    <?php echo $this->form->getElement('commentaire')->setAttribs(array('class-tag' => 'col-md-6 float-none',
                                                                      'class-label' => 'col-md-3',
                                                                      'class-input' => 'col-md-9'))?>
   
    
    
</form>

