<?php $request = Zend_Controller_Front::getInstance()->getRequest()->getParams();
    $prequalifObject = new Resourcing_Model_DbTable_Prequalif();
    $operationObject = new Resourcing_Model_DbTable_Operation();
    $directionObject = new Resourcing_Model_DbTable_Direction();
    $view_salary = Centurion_Auth::getCurrent()->hasPerm('view_candidate_salary');
?>
<form action="/resourcing/candidat/search" method="get" id="grid-filter-form" class="col-md-12 center-margin bg-gray">
    <div class="float-right">
        <span>
            <a href="javascript:;" id="remove-filters" class="font-gray-dark">
                <i class="glyph-icon icon-remove mrg5R"></i>Remove all filters</a>
        </span>
    </div>
    <div class="col-md-12">
        <div class="form-row form-vertical col-md-10  float-clear ">
            <div class="form-label form-input col-md-2 mot-cles">
                <label for="" class="label-description">
                    Recherche par mots clés:
                </label>
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                <input type="text" name= "mots_cles" class="col-md-6" 
                       autocomplete="off" value="<?php echo (isset($request) && !empty($request['mots_cles'])) ? 
                       $request['mots_cles'] : ''?>" />
            </div>
        </div>
        <h3 class="rechercheAvance">
            Recherche avancée :
        </h3>
        <div class="form-row col-md-12  float-clear ">
            <!--<div class="form-row col-md-8 mrg25T">-->
   
                <div class="form-label col-md-12  float-clear ">
                    <label for="" class="label-description labelCol">Dernier entretien</label>
                    <div class="form-row float-left groupCol">
                        <div class="form-label form-input col-md-4">
                            <label for="from">Du:</label>
                            <div class="input-append-wrapper input-append-right">
                                <div class="input-append primary-bg">
                                    <i class="glyph-icon icon-calendar"></i>
                                </div>
                                <div class="append-right">
                                    <input type="text" size="10" class="fromDate" name="from" 
                                           value="<?php echo (isset($request) && !empty($request['from'])) ? 
                                                $request['from'] : ''?>" />
                                </div>
                            </div>    
                        </div>
                        <div class="form-label form-input col-md-4">
                            <label for="to">Au:</label>
                            <div class="input-append-wrapper input-append-right">
                                <div class="input-append primary-bg">
                                    <i class="glyph-icon icon-calendar"></i>
                                </div>
                                <div class="append-right">
                                    <input type="text" size="10" class="toDate" name="to"
                                           value="<?php echo (isset($request) && !empty($request['to'])) ? 
                                                $request['to'] : ''?>" />
                                </div>
                            </div>    
                        </div>
                    </div>    
                </div>
                <br clear="all" />
                <div class="form-label col-md-12">
                    <label for="" class="label-description labelCol">Salaire</label>
                    <div class="form-row float-left groupCol">
                        <div class="form-label float-left form-input col-md-4">
                            <label for="fromsal">Entre:</label>
                            <input type="text" size="10" class="minsal" name="minsal"
                                   value="<?php echo (isset($request) && !empty($request['minsal'])) ? 
                                        $request['minsal'] : ''?>" />
                        </div>
                        <div class="form-label float-left form-input col-md-4">
                            <label for="maxsal">Et:</label>
                            <input type="text" size="10" class="maxsal" name="maxsal"
                                   value="<?php echo (isset($request) && !empty($request['maxsal'])) ? 
                                        $request['maxsal'] : ''?>" />
                        </div>
                    </div>    
                </div>
                <br clear="all" />
                <div class="form-label col-md-12">
                    <div class="form-label form-input experience">
                        <label for="experience">Expérience:</label>
                        <select id="experience" class="col-md-8" name="experience">
                            <option value=""></option>
                            <?php foreach($this->experiences as $experience):?>
                                <option id="<?php echo $experience->id?>" value="<?php echo $experience->id?>"
                                        <?php echo (isset($request) && !empty($request['experience']) 
                                                && $request['experience'] == $experience->id) ? 'selected' : ''?>>
                                    <?php echo $experience->experience?>
                                </option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
                <div class="form-label col-md-12">
                    <div class="form-label form-input experience">
                        <label for="etudes">Etudes:</label>
                        <select id="etudes" class="col-md-8" name="etudes">
                            <option value=""></option>
                            <?php foreach($this->etudes as $etude):?>
                                <option id="<?php echo $etude->id?>" value="<?php echo $etude->id?>"
                                        <?php echo (isset($request) && !empty($request['etudes']) 
                                                && $request['etudes'] == $etude->id) ? 'selected' : ''?>>
                                    <?php echo $etude->etude?>
                                </option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
                <div class="form-label col-md-12">
                    <div class="form-label form-input experience">
                        <label for="poste">Poste:</label>
                        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                        <input type="text" name= "poste" class="col-md-6 autocomplete-input ui-autocomplete-input" 
                        autocomplete="off" value="<?php echo (isset($request) && !empty($request['poste'])) ? 
                        $request['poste'] : ''?>" />
                    </div>
                </div>
                <br clear="all" />
                <div class="form-row col-md-12">
                    <div class="form-label mrg10L">
                        <label for="type_candidat" class="labelCol">Rechercher dans:</label>
                    </div>
                    <div class="form-checkbox-radio">
                        <input type="checkbox" name="type_candidat[]" value="Candidat" id="candidat"
                               <?php echo (isset($request['type_candidat']) && is_array($request['type_candidat']) 
                                       && in_array('Candidat', $request['type_candidat'])) ? 'checked' : ''?> />
                        <label for="candidat">Candidat</label>
                        <input type="checkbox" name="type_candidat[]" value="Profil" id="profil"
                               <?php echo (isset($request['type_candidat']) && is_array($request['type_candidat']) 
                                       && in_array('Profil', $request['type_candidat'])) ? 'checked' : ''?> />
                        <label for="profil">Profil</label>
                    </div>
                </div>
            <!--</div>-->
            <div class="form-row col-md-12">
                <div class="form-label mrg10L">
                    <label  for="technologies" class="labelCol">Technologies:</label>
                </div>
                <div class="form-checkbox-radio col-md-9 radioCol">
                    <?php foreach($this->technologies as $technologie):?>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="technologies[]" id="<?php echo $technologie->id?>" 
                                   value="<?php echo strtolower($technologie->technologie)?>"
                                   <?php echo (isset($request['technologies']) && is_array($request['technologies']) 
                                   && in_array(strtolower($technologie->technologie), $request['technologies'])) ? 'checked' : ''?> />
                            <label for="<?php echo ucfirst($technologie->technologie)?>">
                                <?php echo ucfirst($technologie->technologie)?>
                            </label>
                        </div>
                    <?php endforeach?>
                </div>
            </div>
        </div>
        <br clear="all" />
        <div class="form-row col-md-12  float-clear ">
            <button class="btn primary-bg large float-right">
                <span class="button-content">Valider</span>
            </button>
        </div>
    </div>
</form>
<div class="col-md-12 pad0L pad0R" id="search-result">
    <div class="info-box bg-gray-alt">
        <span class="float-left font-bold pad20T">
            <i class="glyph-icon icon-chevron-right"></i>
            <i class="glyph-icon icon-chevron-right"></i> Résultats de la recherche:
            <?php echo ($this->count == 1) ? '1 Candidat' : (($this->count > 1) ? $this->count . ' Candidats' : '') ?>
        </span>
<?php //print '<pre>';print_r($this->filters);die;?>
        <?php if($this->count > 0):?>
            <span class="float-right font-bold pad20T">
                <i class="glyph-icon icon-download"></i>
                <a href="<?php echo $this->url(array('module' => 'resourcing', 
                                                    'controller' => 'candidat', 
                                                    'action' => 'export-candidats'), 
                                                    'default', true) . '?' . $this->filters ?>" title="Exporter la liste des candidats">
                    Exporter la liste
                </a>
            </span>
        <?php endif?>
    </div>
</div>
<div class="col-md-12">
    <?php
    $i = 0;
    foreach ($this->candidats as $id => $candidat):
        $prequalif = $prequalifObject->fetchRow('id_candidat = ' . intval($candidat->id), 'id DESC');
        $operation = $operationObject->fetchRow('id_candidat = ' . intval($candidat->id), 'id DESC');
        $direction = $directionObject->fetchRow('id_candidat = ' . intval($candidat->id), 'id DESC');
        ?>
    <div class="col-md-10 bg-gray" style="width:100%">
            <!--<div class="label mrg15T bg-red float-right">Aujourd'hui</div>-->
            <div class="col-md-3">
                <p class="font-bold">
                    <a href="<?php echo $this->url(array('module' => 'resourcing', 
                                                    'controller' => 'candidat', 
                                                    'action' => 'get',
                                                    'candidat-id' => (int)$candidat->id,
                                                    'q' => 'prequalif',
                                                    'id' => (int)$candidat->id), 'default', true)?>">
                    <?php echo isset($candidat->first_name) ? $candidat->first_name : '' ?>
                    <?php echo ' ' . isset($candidat->last_name) ? $candidat->last_name : '' ;?> 
                    </a>    
                </p>
                <?php if (isset($candidat->photo) && $candidat->photo != '' 
                        && is_file(realpath(PUBLIC_PATH . Resourcing_Form_Model_Candidat::PATH_PHOTO . $candidat->photo))): ?>
                    <a href="<?php echo $this->url(array('module' => 'resourcing', 
                                                        'controller' => 'candidat', 
                                                        'action' => 'get',
                                                        'candidat-id' => (int)$candidat->id,
                                                        'q' => 'prequalif',
                                                        'id' => (int)$candidat->id), 'default', true)?>">
                        <img src="<?php echo Resourcing_Form_Model_Candidat::PATH_PHOTO . $candidat->photo ?>" width="100px" height="120px" />
                    </a>    
                <?php endif ?>
            </div>
            <div class="col-md-3 pad20T">
                <p>Poste actuel: 
                    <span class="font-bold">
                        <?php echo isset($candidat->poste) ? html_entity_decode($candidat->poste) : ''?>
                    </span>
                </p>
                <p class="mrg10T">Expérience: 
                    <span class="font-bold">
                        <?php echo isset($candidat->Experience) ? $candidat->Experience : ''?>
                    </span>
                </p>
                <p class="mrg10T">Entreprise: 
                    <span class="font-bold">
                        <?php echo isset($candidat->societe) ? html_entity_decode($candidat->societe) : '' ?>
                    </span></p>
                <p class="mrg25T">
                    <?php if (((isset($prequalif->pretention_salariale_min) && $prequalif->pretention_salariale_min != '' 
                            && $prequalif->pretention_salariale_min != 0) || (isset($prequalif->pretention_salariale_max) 
                            && $prequalif->pretention_salariale_max != '' && $prequalif->pretention_salariale_max != 0)) 
                            && $view_salary): ?>
                        
                    <b>Prétention salariale</b> 
                        <span class="label font-bold bg-orange">
                            <?php if (isset($prequalif->pretention_salariale_min) && $prequalif->pretention_salariale_min != '' 
                            && $prequalif->pretention_salariale_min != 0):?>
                                <?php echo $prequalif->pretention_salariale_min . ' DT' ?>
                            <?php endif?>
                            <?php if ((isset($prequalif->pretention_salariale_min) && $prequalif->pretention_salariale_min != '' 
                            && $prequalif->pretention_salariale_min != 0) && (isset($prequalif->pretention_salariale_max) 
                            && $prequalif->pretention_salariale_max != '' && $prequalif->pretention_salariale_max != 0)):?>
                                <?php echo ' à '; ?>
                            <?php endif ?>
                            <?php if(isset($prequalif->pretention_salariale_max) 
                            && $prequalif->pretention_salariale_max != '' && $prequalif->pretention_salariale_max != 0):?>
                                <?php echo $prequalif->pretention_salariale_max . ' DT' ?>
                            <?php endif?>
                        </span>
                    
                    <?php endif ?>    
                </p>
            </div>
            <div class="col-md-6">
                <p class="font-size-23 pad10B">Etat process entretien</p>
                <div class="mrg25T col-md-12 mrg0T" style="height: 80px">
                    <div class="pad25T mrg5T">
                        Pre-Qual
                        <?php if(isset($prequalif->avis)):?>
                            <?php if ($prequalif->avis == 'Favorable'): ?>
                                <span class="btn small bg-green mrg20L mrg20R">
                                    <i class="glyph-icon icon-check-square"></i>
                                </span>    
                            <?php elseif ($prequalif->avis == 'Défavorable'): ?>
                                <span class="btn small bg-red mrg20L mrg20R">
                                    <i class="glyph-icon icon-clock-os-circle"></i>
                                </span>    
                            <?php elseif ($prequalif->avis == 'Neutre'): ?>
                                <span class="btn small bg-orange mrg20L mrg20R">
                                    <i class="glyph-icon icon-minus-square"></i>
                                </span>    
                            <?php else: ?>
                                <span class="btn small bg-blue mrg20L mrg20R">
                                    <i class="glyph-icon icon-square-o"></i>
                                </span>    
                            <?php endif ?>    
                        <?php else: ?>
                            <span class="btn small bg-blue mrg20L mrg20R">
                                <i class="glyph-icon icon-square-o"></i>
                            </span>    
                        <?php endif ?>
                        
                        E.OP
                        <?php if(isset($operation->verdict)):?>
                            <?php if ($operation->verdict == 'Oui'): ?>
                                <span class="btn small bg-green mrg20L mrg20R">
                                    <i class="glyph-icon icon-check-square"></i>
                                </span>    
                            <?php elseif ($operation->verdict == 'Non'): ?>
                                <span class="btn small bg-red mrg20L mrg20R">
                                    <i class="glyph-icon icon-clock-os-circle"></i>
                                </span>    
                            <?php elseif ($operation->verdict == 'Neutre'): ?>
                                <span class="btn small bg-orange mrg20L mrg20R">
                                    <i class="glyph-icon icon-minus-square"></i>
                                </span>    
                            <?php else: ?>
                                <span class="btn small bg-blue mrg20L mrg20R">
                                    <i class="glyph-icon icon-square-o"></i>
                                </span>    
                            <?php endif ?>
                        <?php else:?>   
                            <span class="btn small bg-blue mrg20L mrg20R">
                                <i class="glyph-icon icon-square-o"></i>
                            </span>    
                        <?php endif ?>
                        E.DIR
                        <?php if ($direction->verdict == 'Oui'): ?>
                            <span class="btn small bg-green mrg20L mrg20R">
                                <i class="glyph-icon icon-check-square"></i>
                            </span>    
                        <?php elseif ($direction->verdict == 'Non'): ?>
                            <span class="btn small bg-red mrg20L mrg20R">
                                <i class="glyph-icon icon-clock-os-circle"></i>
                            </span>    
                        <?php elseif ($direction->verdict == 'Neutre'): ?>
                            <span class="btn small bg-orange mrg20L mrg20R">
                                <i class="glyph-icon icon-minus-square"></i>
                            </span>    
                        <?php else: ?>
                            <span class="btn small bg-blue mrg20L mrg20R">
                                <i class="glyph-icon icon-square-o"></i>
                            </span>    
                        <?php endif ?>
                    </div>
                </div>
                <div class="mrg25T col-md-12 mrg0T">
                    <?php echo $this->rates[$candidat->id]?>
                </div>
            </div>
            <div class="col-md-3 float-right">
                    <a href="<?php
                        echo $this->url(array('module' => 'resourcing',
                            'controller' => 'candidat',
                            'action' => 'detail',
                            'candidat-id' => $candidat->id), 'default', true)
                        ?>" 
                           class="medium float-right" title="Détails">
                            <span class="button-content font-blue-alt font-bold">
                                <i class="glyph-icon icon-angle-double-right"></i> Profil complet
                            </span>
                    </a>
            </div>

        </div>
        <div class="col-md-10 pad15T bg-white"></div>
    <?php endforeach ?>        
</div>
<script lang="javascript">
    <?php if($this->isGet || Zend_Controller_Front::getInstance()->getRequest()->getParam('page')):?>
        $('body').scrollTo('#search-result');
    <?php endif?>
</script>