<?php $request = Zend_Controller_Front::getInstance()->getRequest()->getParams(); 
?>
<form action="/resourcing/candidat/search" method="get" id="grid-filter-form" class="col-md-12 center-margin bg-gray">
    <div class="float-right">
        <span>
            <a href="javascript:;" id="remove-filters" class="font-gray-dark">
                <i class="glyph-icon icon-remove mrg5R"></i>Remove all filters</a>
        </span>
    </div>
    <div class="col-md-12">
        <div class="form-row form-vertical col-md-10  float-clear ">
            <div class="form-label form-input col-md-2 mot-cles">
                <label for="" class="label-description">
                    Recherche par mots clés:
                </label>
  
                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                <input type="text" name= "mots_cles" class="col-md-6" 
                       autocomplete="off" value="<?php echo (isset($request) && !empty($request['mots_cles'])) ? 
                       $request['mots_cles'] : ''?>" />
            </div>
        </div>
        <h3 class="rechercheAvance">
            Recherche avancée :
        </h3>
        <div class="form-row col-md-12  float-clear ">
            <!--<div class="form-row col-md-8 mrg25T">-->
   
                <div class="form-label col-md-12  float-clear ">
                    <label for="" class="label-description labelCol">Dernier entretien</label>
                    <div class="form-row float-left groupCol">
                        <div class="form-label form-input col-md-6">
                            <label for="from">Du:</label>
                            <div class="input-append-wrapper input-append-right">
                                <div class="input-append primary-bg">
                                    <i class="glyph-icon icon-calendar"></i>
                                </div>
                                <div class="append-right">
                                    <input type="text" size="10" class="fromDate" name="from" 
                                           value="<?php echo (isset($request) && !empty($request['from'])) ? 
                                                $request['from'] : ''?>" />
                                </div>
                            </div>    
                        </div>
                        <div class="form-label form-input col-md-6">
                            <label for="to">Au:</label>
                            <div class="input-append-wrapper input-append-right">
                                <div class="input-append primary-bg">
                                    <i class="glyph-icon icon-calendar"></i>
                                </div>
                                <div class="append-right">
                                    <input type="text" size="10" class="toDate" name="to"
                                           value="<?php echo (isset($request) && !empty($request['to'])) ? 
                                                $request['to'] : ''?>" />
                                </div>
                            </div>    
                        </div>
                    </div>    
                </div>
                <br clear="all" />
                <div class="form-label col-md-12">
                    <label for="" class="label-description labelCol">Salaire</label>
                    <div class="form-row float-left groupCol">
                        <div class="form-label float-left form-input col-md-6">
                            <label for="fromsal">Entre:</label>
                            <input type="text" size="10" class="minsal" name="minsal"
                                   value="<?php echo (isset($request) && !empty($request['minsal'])) ? 
                                        $request['minsal'] : ''?>" />
                        </div>
                        <div class="form-label float-left form-input col-md-6">
                            <label for="maxsal">Et:</label>
                            <input type="text" size="10" class="maxsal" name="maxsal"
                                   value="<?php echo (isset($request) && !empty($request['maxsal'])) ? 
                                        $request['maxsal'] : ''?>" />
                        </div>
                    </div>    
                </div>
                <br clear="all" />
                <div class="form-label col-md-12">
                    <div class="form-label form-input experience">
                        <label for="experience">Expérience:</label>
                        <select id="experience" class="col-md-8" name="experience">
                            <option value=""></option>
                            <?php foreach($this->experiences as $experience):?>
                                <option id="<?php echo $experience->id?>" value="<?php echo $experience->id?>"
                                        <?php echo (isset($request) && !empty($request['experience']) 
                                                && $request['experience'] == $experience->id) ? 'selected' : ''?>>
                                    <?php echo $experience->experience?>
                                </option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
                <div class="form-label col-md-12">
                    <div class="form-label form-input experience">
                        <label for="etudes">Etudes:</label>
                        <select id="etudes" class="col-md-8" name="etudes">
                            <option value=""></option>
                            <?php foreach($this->etudes as $etude):?>
                                <option id="<?php echo $etude->id?>" value="<?php echo $etude->id?>"
                                        <?php echo (isset($request) && !empty($request['etudes']) 
                                                && $request['etudes'] == $etude->id) ? 'selected' : ''?>>
                                    <?php echo $etude->etude?>
                                </option>
                            <?php endforeach;?>
                        </select>
                    </div>
                </div>
                <div class="form-label col-md-12">
                    <div class="form-label form-input poste">
                        <label for="poste">Poste:</label>
                        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                        <input type="text" name= "poste" class="col-md-6 autocomplete-input ui-autocomplete-input" 
                        autocomplete="off" value="<?php echo (isset($request) && !empty($request['poste'])) ? 
                        $request['poste'] : ''?>" />
                    </div>
                </div>
                <br clear="all" />
                <div class="form-row col-md-12">
                    <div class="form-label mrg10L">
                        <label for="type_candidat" class="labelCol">Rechercher dans:</label>
                    </div>
                    <div class="form-checkbox-radio">
                        <input type="checkbox" name="type_candidat[]" value="Candidat" id="candidat"
                               <?php echo (isset($request['type_candidat']) && is_array($request['type_candidat']) 
                                       && in_array('Candidat', $request['type_candidat'])) ? 'checked' : ''?> />
                        <label for="candidat">Candidat</label>
                        <input type="checkbox" name="type_candidat[]" value="Profil" id="profil"
                               <?php echo (isset($request['type_candidat']) && is_array($request['type_candidat']) 
                                       && in_array('Profil', $request['type_candidat'])) ? 'checked' : ''?> />
                        <label for="profil">Profil</label>
                    </div>
                </div>
            <!--</div>-->
            <div class="form-row col-md-12">
                <div class="form-label mrg10L">
                    <label  for="technologies" class="labelCol">Technologies:</label>
                </div>
                <div class="form-checkbox-radio col-md-6">
                    <?php foreach($this->technologies as $technologie):?>
                        <div class="checkbox-radio">
                            <input type="checkbox" name="technologies[]" id="<?php echo $technologie->id?>" 
                                   value="<?php echo strtolower($technologie->technologie)?>"
                                   <?php echo (isset($request['technologies']) && is_array($request['technologies']) 
                                   && in_array(strtolower($technologie->technologie), $request['technologies'])) ? 'checked' : ''?> />
                            <label for="<?php echo ucfirst($technologie->technologie)?>">
                                <?php echo ucfirst($technologie->technologie)?>
                            </label>
                        </div>
                    <?php endforeach?>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="form-row col-md-12  float-clear ">
            <button class="btn primary-bg large float-right">
                <span class="button-content">Valider</span>
            </button>
        </div>
    </div>
</form>
<div class="col-md-12 pad0L pad0R">
    <div class="info-box bg-gray-alt">
        <span class="float-left font-bold pad20T">
            <i class="glyph-icon icon-chevron-right"></i>
            <i class="glyph-icon icon-chevron-right"></i> Résultats de la recherche:
            <?php echo ($this->count == 1) ? '1 Candidat' : (($this->count > 1) ? $this->count . ' Candidats' : '') ?>
        </span>
    </div>
</div>
<?php //print '<pre>';print_r($this->candidats);die;?>
<div class="col-md-12">
    <?php
    $i = 0;
    foreach ($this->candidats as $id => $hit):
        if('Zend_Search_Lucene_Search_QueryHit' == get_class($hit)) {
            $candidat = $hit->getDocument();
            $fields = $candidat->getFieldNames();
            
            foreach($fields as $key => $field) {
                $$field = $candidat->getFieldValue($fields[$key]);
            }
        } else {
            $fields = $hit->getFieldNames();
            foreach($fields as $field) {
                $$field = $hit->getFieldValue($field);
            }
            
        }
        ?>
    <div class="col-md-10 bg-gray" style="width:100%">
            <!--<div class="label mrg15T bg-red float-right">Aujourd'hui</div>-->
            <div class="col-md-3">
                <p class="font-bold">
                    <a href="<?php echo $this->url(array('module' => 'resourcing', 
                                                    'controller' => 'candidat', 
                                                    'action' => 'get',
                                                    'candidat-id' => (int)$id_candidat,
                                                    'q' => 'prequalif',
                                                    'id' => (int)$id_candidat), 'default', true)?>">
                    <?php echo isset($first_name) ? $first_name : '' ?>
                    <?php echo ' ' . isset($last_name) ? $last_name : '' ;?> 
                    </a>    
                </p>
                <?php if (isset($photo) && $photo != '' 
                        && is_file(realpath(PUBLIC_PATH . Resourcing_Form_Model_Candidat::PATH_PHOTO . $photo))): ?>
                    <a href="<?php echo $this->url(array('module' => 'resourcing', 
                                                        'controller' => 'candidat', 
                                                        'action' => 'get',
                                                        'candidat-id' => (int)$id_candidat,
                                                        'q' => 'prequalif',
                                                        'id' => (int)$id_candidat), 'default', true)?>">
                        <img src="<?php echo Resourcing_Form_Model_Candidat::PATH_PHOTO . $photo ?>" width="100px" height="120px" />
                    </a>    
                <?php endif ?>
            </div>
            <div class="col-md-3 pad20T">
                <p>Poste actuel: 
                    <span class="font-bold">
                        <?php echo isset($poste) ? html_entity_decode($poste) : ''?>
                    </span>
                </p>
                <p class="mrg10T">Expérience: 
                    <span class="font-bold">
                        <?php echo isset($experience) ? $experience : ''?>
                    </span>
                </p>
                <p class="mrg10T">Entreprise: 
                    <span class="font-bold">
                        <?php echo isset($societe) ? html_entity_decode($societe) : '' ?>
                    </span></p>
                <p class="mrg25T">
                    <?php if (isset($salaire) && $salaire != '' && $salaire != 0): ?>
                        <b>Salaire</b> 
                        <span class="label font-bold bg-orange"><?php echo $salaire . ' DT' ?></span>
                    <?php endif ?>    
                </p>
            </div>
            <div class="col-md-6">
                <p class="font-size-23 pad10B">Etat process entretien</p>
                <div class="mrg25T col-md-12 mrg0T" style="height: 80px">
                    <div class="pad25T mrg5T">
                        Pre-Qual
                        <span class="btn small primary-bg mrg20L mrg20R">
                            <?php if(isset($prequalif_result)):?>
                                <?php if (utf8_decode($prequalif_result) == 'Favorable'): ?>
                                    <i class="glyph-icon icon-check-square"></i>
                                <?php elseif (utf8_decode($prequalif_result) == 'Défavorable'): ?>
                                    <i class="glyph-icon icon-clock-os-circle"></i>
                                <?php else: ?>
                                    <i class="glyph-icon icon-square-o"></i>
                                <?php endif ?>    
                            <?php else: ?>
                                <i class="glyph-icon icon-square-o"></i>
                            <?php endif ?>
                        </span>
                        E.OP
                        <span class="btn small primary-bg mrg20L mrg20R">
                            <?php if(isset($operation_result)):?>
                                <?php if ($operation_result == 'Oui'): ?>
                                    <i class="glyph-icon icon-check-square"></i>
                                <?php elseif ($operation_result == 'Non'): ?>
                                    <i class="glyph-icon icon-clock-os-circle"></i>
                                <?php else: ?>
                                    <i class="glyph-icon icon-square-o"></i>
                                <?php endif ?>
                            <?php else:?>   
                                <i class="glyph-icon icon-square-o"></i>
                            <?php endif ?>
                        </span>
                        E.DIR
                        <span class="btn small primary-bg mrg20L mrg20R">
                            <?php if ($direction_result == 'Oui'): ?>
                                <i class="glyph-icon icon-check-square"></i>
                            <?php elseif ($direction_result == 'Non'): ?>
                                <i class="glyph-icon icon-clock-os-circle"></i>
                            <?php else: ?>
                                <i class="glyph-icon icon-square-o"></i>
                            <?php endif ?>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 float-right">
                    <a href="<?php
                        echo $this->url(array('module' => 'resourcing',
                            'controller' => 'candidat',
                            'action' => 'detail',
                            'candidat-id' => $id_candidat), 'default', true)
                        ?>" 
                           class="medium float-right" title="Détails">
                            <span class="button-content font-blue-alt font-bold">
                                <i class="glyph-icon icon-angle-double-right"></i> Profil complet
                            </span>
                    </a>
            </div>

        </div>
        <div class="col-md-10 pad15T bg-white"></div>
    <?php endforeach ?>        
</div>