<div class="col-md-12">
    <div class="col-md-4">
        <div class="datepicker no-shadow" style="width: 250px;"></div>
    </div>
    <div class="col-md-8">
        <div id="calendar" class="col-md-12 center-margin"></div>
    </div>
    <br clear="all" />
</div>

<div class="col-md-12 hide" id="planif-event" title="Ajouter un événement">
    <div class="div-center">
        <form action="" class="col-md-12 center-margin mrg25T" method="" id="modal-add-event">
            <div class="form-row form-input pad0B row mrg15B">
                <label for="">
                    Événement:
                </label>
                <input type="text" data-trigger="change" data-required="true" class="parsley-validated" name="event" id="event" class="col-md-6" value="" />
            </div>
            <div class="form-label col-md-12">
                <label for="from" class="col-md-2">Date début:</label>
                <div class="form-input input-append-wrapper input-append-right">
                    <div class="input-append primary-bg">
                        <i class="glyph-icon icon-calendar"></i>
                    </div>
                    <div class="append-right">
                        <input type="text" size="10" class="fromDate" id="debut_event" name="debut_event" value="" />
                    </div>
                </div>    
            </div>
            <div class="form-label col-md-12">
                    <label for="">
                        à:
                    </label>
                <div class="form-input">
                    <div class="input-append-wrapper input-append-right">
                        <div class="input-append primary-bg">
                            <i class="glyph-icon icon-clock-o"></i>
                        </div>
                        <div class="bootstrap-timepicker dropdown append-right">
                            <input type="text" class="event-entretien input" id="debut_event_time" type="text">
                        </div>    
                    </div>    
                </div>
            </div>
            <div class="form-label">
                <label for="from">Date de fin:</label>
                <div class="form-input input-append-wrapper input-append-right col-md-8">
                    <div class="input-append primary-bg">
                        <i class="glyph-icon icon-calendar"></i>
                    </div>
                    <div class="append-right">
                        <input type="text" size="10" class="toDate" id="fin_event" name="fin_event" value="" />
                    </div>
                </div> 
            </div>
            <div class="form-label form-input">
                    <label for="">
                        à:
                    </label>
                <div class="form-input">
                    <div class="input-append-wrapper input-append-right">
                        <div class="input-append primary-bg">
                            <i class="glyph-icon icon-clock-o"></i>
                        </div>
                        <div class="bootstrap-timepicker dropdown append-right">
                            <input type="text" class="event-entretien input" id="fin_event_time" type="text">
                        </div>    
                    </div>    
                </div>
            </div>
            
            <input class="btn ui-state-default medium col-md-2 float-right bg-blue-alt mrg25T" type="button" value="Ajouter" 
                   id="create-event" />
            <input class="btn ui-state-default medium col-md-2 float-right bg-google mrg25T mrg25L hide" type="button" value="Supprimer" 
                   id="delete-event" />

        </form>
    </div>
</div>
<script lang="javascript">
    $(document).ready(function() {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var h = date.getHours();
        var min = date.getMinutes();
        var sec = date.getSeconds();
        var month = m;
        
        $('#calendar').fullCalendar({
            height: 600,
            titleFormat:{month: 'MMMM yyyy',                             // September 2009
                        week: "d[ yyyy] MMM { '&#8212;'d MMM yyyy}", // Sep 7 - 13 2009
                        day: 'dddd, d MMM yyyy' } ,
            weekends: true,
            dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthNamesShort: ['Jan', 'Fév', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aout', 'Sept', 'Oct', 'Nov', 'Déc'],
            timeFormat: {'': 'H(:mm)'},
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
                //right: 'month,basicWeek'
            },
            editable: true,
            dayClick: function(date, allDay, jsEvent, view) {
                $("#planif-event").dialog({
                    resizable: true,
                    minWidth: 700,
                    minHeight: 200,
                    modal: false,
                    closeOnEscape: true,
                    position: "center",
                });
                $('#debut_event').val($.format.date(date, 'yyyy-MM-dd'));
                $('#fin_event').val($.format.date(date, 'yyyy-MM-dd'));
                $('#debut_event_time').val(h + ':' + min);
                $('#fin_event_time').val(h + ':' + min);
                m = date.getMonth();
                $('#create-event').click(function(){
                    $("#planif-event").dialog('close');
                    $.ajax({
                        url: '<?php echo $this->url(array('action' => 'create-event')) ?>',
                        data: { debut: $('#debut_event').val() + ' ' + $('#debut_event_time').val(), 
                                fin: $('#fin_event').val() + ' ' + $('#fin_event_time').val(), 
                                event: $('#event').val()
                            },
                        type: 'post',
                        dataType: 'json',
                        success: function(response) {
                            location.reload(true);
                        }
                    });
                });

            },
            events:<?php echo $this->jsonEvents?>,
            eventRender: function (event, element, monthView) { 
                //$('#calendar').fullCalendar('refetchEvents');
                if (event.id == "holiday") {
                    //$('#calendar').fullCalendar({eventColor: 'red'});
//                    $("td[data-date='" + $.format.date(event.start, 'yyyy-MM-dd') + "']").addClass('disabled'); 
//                    $("td[data-date='" + $.format.date(event.start, 'yyyy-MM-dd') + "'] div.fc-day-content").remove();
                    $("td[data-date='" + $.format.date(event.start, 'yyyy-MM-dd') + "']").css('background-color', '#F1F3F6');
                    //$('#calendar').fullCalendar('removeEvents', 'holiday');
                    $("td[data-date='" + $.format.date(event.start, 'yyyy-MM-dd') + "']").off('click');
                }
                
            },
            eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
                $.ajax({
                    url: '<?php echo $this->url(array('action' => 'create-event')) ?>',
                    data: { id: event.id, 
                            debut: $.format.date(event.start, 'yyyy-MM-dd HH:mm'), 
                            fin: $.format.date(event.end, 'yyyy-MM-dd HH:mm'), 
                            event: event.title
                        },
                    type: 'post',
                    dataType: 'json',
                    success: function(response) {
                        location.reload(true);
                    }
                });
            },
            eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
                $.ajax({
                    url: '<?php echo $this->url(array('action' => 'create-event')) ?>',
                    data: { id: event.id, 
                            debut: $.format.date(event.start, 'yyyy-MM-dd'), 
                            fin: $.format.date(event.end, 'yyyy-MM-dd'), 
                            event: event.title
                        },
                    type: 'post',
                    dataType: 'json',
                    success: function(response) {
                        location.reload(true);
                    }
                });
            },
            eventClick: function(event) {
                $("#planif-event").dialog({
                    resizable: true,
                    minWidth: 700,
                    minHeight: 200,
                    modal: false,
                    closeOnEscape: true,
                    position: "center",
                });
                $('#delete-event').show();
                $('#event').val(event.title);
                $('#debut_event').val($.format.date(event.start, 'yyyy-MM-dd'));
                $('#debut_event_time').val($.format.date(event.start, 'HH:mm'));
                $('#fin_event_time').val($.format.date(event.end, 'HH:mm'));
                if($.format.date(event.end, 'yyyy-MM-dd') == null){
                    event.end = event.start;
                }
                $('#fin_event').val($.format.date(event.end, 'yyyy-MM-dd'));
                $('#create-event').click(function(){
                    $("#planif-event").dialog('close');
                    $.ajax({
                        url: '<?php echo $this->url(array('action' => 'create-event')) ?>',
                        data: { id: event.id, 
                                debut: $('#debut_event').val() + ' ' + $('#debut_event_time').val(), 
                                fin: $('#fin_event').val() + ' ' + $('#fin_event_time').val(), 
                                event: $('#event').val()
                        },
                        type: 'post',
                        dataType: 'json',
                        success: function(response) {
                            location.reload(true);
                        }
                    });
                });
                $('#delete-event').click(function(){
                    $("#planif-event").dialog('close');
                    $.ajax({
                        url: '<?php echo $this->url(array('action' => 'delete-event')) ?>',
                        data: { id: event.id},
                        type: 'post',
                        dataType: 'json',
                        success: function(response) {
                            location.reload(true);
                        }
                    });
                });
            }
        });
    });
</script>