<?php
$error = count($this->element->getMessages());
$value = $this->element->getValue();
?>
<div class="form-row <?php echo $this->element->getAttrib('class-tag') ?>">
    <div class="form-label <?php echo $this->element->getAttrib('class-label') ?>">
        <label for="<?php echo $this->element->getLabel()?>">
            <?php echo $this->element->getLabel() ?>
            <?php if($this->element->isRequired()):?>
                <span class="required">*</span>
            <?php endif?>
        </label>
    </div>
    <div class="form-input <?php echo $this->element->getAttrib('class-input') ?>">
        <div class="form-input-icon">
            <i class="glyph-icon <?php echo $this->element->getAttrib('icon')?> ui-state-default"></i>
            <input type="<?php echo $this->element->getAttrib('type') ? $this->element->getAttrib('type') : 'text'?>" 
              <?php if($this->element->isRequired()):?>data-required="true"<?php endif?>
              class="<?php echo $this->element->getAttrib('class') ?><?php echo $error ? ' error' : '' ?>"
              name="<?php echo $this->element->getName() ?><?php echo $this->element->isArray() ? '[]' : '' ?>"
              id="<?php echo $this->escape($this->element->getName()) ?>-input"
              <?php echo $value !== null ? (' value="' . $value . '"') : '' ?>
              <?php if($this->element->getAttrib('data-type')):?> 
                    data-type="<?php echo $this->element->getAttrib('data-type')?>"
              <?php endif?>
              <?php if($this->element->getAttrib('data-rangelength')):?> 
                    data-rangelength="<?php echo $this->element->getAttrib('data-rangelength')?>"
              <?php endif?>
              <?php if($this->element->getAttrib('data-minlength')):?> 
                    data-minlength="<?php echo $this->element->getAttrib('data-minlength')?>"
              <?php endif?>
              />
        </div>  
          <?php if ($this->element->getAttrib('help-note')): ?>
               <span class="help-inline"><?php echo $this->element->getAttrib('help-note') ?></span>
           <?php endif ?>
    </div>
    <?php if ($error): ?>
        <p class="help-block"><?php echo implode(' ', $this->element->getMessages()) ?></span>
    <?php endif ?>
</div>