<?php echo $this->form?>
<div class="col-md-12 pad0L pad0R">
    <div class="info-box bg-gray-alt">
        <span class="float-left font-bold pad20T">
            <i class="glyph-icon icon-chevron-right"></i>
            <i class="glyph-icon icon-chevron-right"></i> Résultats de la recherche
        </span>
    </div>
</div>





