<div class="theme-customizer hidden">
    <a href="javascript:;" class="change-theme-btn" title="Change theme">
        <i class="glyph-icon icon-cog"></i>
    </a>
    <div class="theme-wrapper">

        <div class="popover-title">Color schemes</div>
        <div class="pad10A clearfix change-layout-theme">
            <p class="font-gray-dark font-size-11 pad0B">More color schemes will be available soon!</p>
            <div class="divider mrg10T mrg10B"></div>
            <a href="javascript:;" class="choose-theme" layout-theme="dark-blue" title="">
                <span style="background: #2381E9;"></span>
            </a>
            <!--                         <a href="javascript:;" class="choose-theme opacity-30" layout-theme="white-blue" title="">
                                        <span style="background: #2381E9;"></span>
                                    </a> -->
            <a href="javascript:;" class="choose-theme" layout-theme="dark-green" title="D">
                <span style="background: #78CE12;"></span>
            </a>
            <!--                         <a href="javascript:;" class="choose-theme opacity-30" layout-theme="white-green" title="D">
                                        <span style="background: #78CE12;"></span>
                                    </a> -->
            <a href="javascript:;" class="choose-theme" layout-theme="dark-orange" title="">
                <span style="background: #FF6041;"></span>
            </a>
            <!--                         <a href="javascript:;" class="choose-theme opacity-30" layout-theme="white-orange" title="">
                                        <span style="background: #FF6041;"></span>
                                    </a> -->
            <a href="javascript:;" class="choose-theme" layout-theme="inverse-blue" title="">
                <span style="background: #20242A;"></span>
            </a>
            <a href="javascript:;" class="choose-theme" layout-theme="dark-gray" title="">
                <span style="background: #646464;"></span>
            </a>
        </div>
        <div class="popover-title">Layout options</div>
        <div class="pad10A clearfix">
            <a class="fluid-layout-btn hidden bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Full width layout</span></a>
            <a class="boxed-layout-btn bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Boxed layout</span></a>

            <a class="enable-animations hidden bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Enable animations</span></a>
            <a class="disable-animations bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Disable animations</span></a>
        </div>
        <div class="popover-title">Boxed layout backgrounds</div>
        <div class="pad10A clearfix">
            <a href="javascript:;" class="choose-bg" boxed-bg="#000" style="background: #000;" title=""></a>
            <a href="javascript:;" class="choose-bg" boxed-bg="#333" style="background: #333;" title=""></a>
            <a href="javascript:;" class="choose-bg" boxed-bg="#666" style="background: #666;" title=""></a>
            <a href="javascript:;" class="choose-bg" boxed-bg="#888" style="background: #888;" title=""></a>
            <a href="javascript:;" class="choose-bg" boxed-bg="#383d43" style="background: #383d43;" title=""></a>
            <a href="javascript:;" class="choose-bg" boxed-bg="#fafafa" style="background: #fafafa; border: #ccc solid 1px;" title=""></a>
            <a href="javascript:;" class="choose-bg" boxed-bg="#fff" style="background: #fff; border: #eee solid 1px;" title=""></a>
        </div>

    </div>
</div>

<div id="page-header" class="clearfix">
    <div id="header-logo">
        <a href="javascript:;" class="tooltip-button" data-placement="bottom" title="Close sidebar" id="close-sidebar">
            <i class="glyph-icon icon-caret-left"></i>
        </a>
        <a href="javascript:;" class="tooltip-button hidden" data-placement="bottom" title="Open sidebar" id="rm-close-sidebar">
            <i class="glyph-icon icon-caret-right"></i>
        </a>
        <a href="javascript:;" class="tooltip-button hidden" title="Navigation Menu" id="responsive-open-menu">
            <i class="glyph-icon icon-align-justify"></i>
        </a>
        Keyrus Tunisie                    <span class="outilRh ">Outil RH</span>
    </div>
    <div class="hide" id="black-modal-60" title="Modal window example">
        <div class="pad20A">

            <div class="infobox notice-bg">
                <div class="bg-azure large btn info-icon">
                    <i class="glyph-icon icon-bullhorn"></i>
                </div>
                <h4 class="infobox-title">Modal windows</h4>
                <p>Thanks to the solid modular Fides Admin arhitecture, modal windows customizations are very flexible and easy to apply.</p>
            </div>

            <h4 class="heading-1 mrg20T clearfix">
                <div class="heading-content" style="width: auto;">
                    Icons
                    <small>
                        All icons across the Fides Admin Framework use FontAwesome icons.
                    </small>
                </div>
                <div class="clear"></div>
                <div class="divider"></div>
            </h4>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-compass" href="../icon/compass"><i class="glyph-icon icon-compass"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-collapse" href="../icon/collapse"><i class="glyph-icon icon-collapse"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-collapse-top" href="../icon/collapse-top"><i class="glyph-icon icon-collapse-top"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-expand" href="../icon/expand"><i class="glyph-icon icon-expand"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-eur" href="../icon/eur"><i class="glyph-icon icon-eur"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-euro" href="../icon/eur"><i class="glyph-icon icon-euro"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-gbp" href="javascript:;"><i class="glyph-icon icon-gbp"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-usd" href="javascript:;"><i class="glyph-icon icon-usd"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-dollar" href="javascript:;"><i class="glyph-icon icon-dollar"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-inr" href="javascript:;"><i class="glyph-icon icon-inr"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-rupee" href="javascript:;"><i class="glyph-icon icon-rupee"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-jpy" href="javascript:;"><i class="glyph-icon icon-jpy"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-yen" href="javascript:;"><i class="glyph-icon icon-yen"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-cny" href="javascript:;"><i class="glyph-icon icon-cny"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-renminbi" href="javascript:;"><i class="glyph-icon icon-renminbi"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-krw" href="javascript:;"><i class="glyph-icon icon-krw"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-won" href="javascript:;"><i class="glyph-icon icon-won"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-btc" href="javascript:;"><i class="glyph-icon icon-btc"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-bitcoin" href="javascript:;"><i class="glyph-icon icon-bitcoin"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-file" href="javascript:;"><i class="glyph-icon icon-file"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-file-text" href="javascript:;"><i class="glyph-icon icon-file-text"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-sort-by-alphabet" href="javascript:;"><i class="glyph-icon icon-sort-by-alphabet"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-sort-by-alphabet-al" href="javascript:;"><i class="glyph-icon icon-sort-by-alphabet-alt"></i>t</a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-sort-by-attributes" href="javascript:;"><i class="glyph-icon icon-sort-by-attributes"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-sort-by-attribu" href="javascript:;"><i class="glyph-icon icon-sort-by-attributes-alt"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-sort-by-order" href="javascript:;"><i class="glyph-icon icon-sort-by-order"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-sort-by-order-alt" href="javascript:;"><i class="glyph-icon icon-sort-by-order-alt"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-thumbs-up" href="javascript:;"><i class="glyph-icon icon-thumbs-up"></i></a>

            <a class="btn medium radius-all-4 mrg5A ui-state-default tooltip-button" title="icon-thumbs-down" href="javascript:;"><i class="glyph-icon icon-thumbs-down"></i></a>

        </div>
    </div>
<?php $listGroups = Centurion_Auth::getInstance()->getIdentity()->groups->toArray();
        foreach($listGroups as $key => $value){
            $groups[] = $value['id'];
        }
        sort($groups);?>
    <div class="hide" id="white-modal-80" title="Dialog with tabs">
        <div class="tabs pad15A remove-border opacity-80">
            <ul class="opacity-80">
                <li><a href="#example-tabs-1">First</a></li>
                <li><a href="#example-tabs-2">Second</a></li>
                <li><a href="#example-tabs-3">Third</a></li>
            </ul>
            <div id="example-tabs-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.
                </p>
            </div>
            <div id="example-tabs-2">
                <p>Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.
                </p>
                <p>Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.
                </p>
            </div>
            <div id="example-tabs-3">
                <p>Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.
                </p>
                <p>Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.
                </p>
            </div>
        </div>
        <div class="pad10A">
            <div class="infobox success-bg radius-all-4">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque</p>
            </div>
        </div>
        <div class="ui-dialog-buttonpane clearfix">

            <a href="dropdown_menus.html" class="btn medium float-left bg-azure">
                <span class="button-content text-transform-upr font-size-11">Dropdown menus</span>
            </a>
            <div class="button-group float-right">
                <a href="buttons.html" class="btn medium bg-black" title="View more buttons examples">
                    <i class="glyph-icon icon-star"></i>
                </a>
                <a href="buttons.html" class="btn medium bg-black" title="View more buttons examples">
                    <i class="glyph-icon icon-random"></i>
                </a>
                <a href="buttons.html" class="btn medium bg-black" title="View more buttons examples">
                    <i class="glyph-icon icon-map-marker"></i>
                </a>
            </div>
            <a href="javascript:;" class="medium btn bg-blue-alt float-right mrg10R tooltip-button" data-placement="left" title="Remove comment">
                <i class="glyph-icon icon-plus"></i>
            </a>

        </div>
    </div>
    <?php if(isset(Centurion_Auth::getInstance()->getIdentity()->id)):?>
        <div class="user-profile dropdown">
            <a href="javascript:;" title="" class="user-ico clearfix" data-toggle="dropdown">
                <img width="36" src="/assets/images/gravatar.jpg" alt="">
                <span><?php echo Centurion_Auth::getInstance()->getIdentity()->username?></span>
                <i class="glyph-icon icon-chevron-down"></i>
            </a>
            <ul class="dropdown-menu float-right">
                <?php if(!in_array(1, $groups)):?>
                    <li>
                        <a href="<?php echo $this->url(array('module' => 'resourcing', 'controller' => 'users', 'action' => 'get', 'id' => Centurion_Auth::getInstance()->getIdentity()->id), 'default', true) ?>" title="Profil">
                            <i class="glyph-icon icon-user mrg5R"></i>
                            Profil
                        </a>
                    </li>
                <?php endif?>    
                <li>
                    <a href="<?php echo $this->url(array('module' => 'admin', 'controller' => 'login', 'action' => 'logout'), 'default', true) ?>" title="">
                        <i class="glyph-icon icon-sign-out font-size-13 mrg5R"></i>
                        <span class="font-bold">Logout</span>
                    </a>
                </li>

            </ul>
        </div>
    <?php endif?>

    <div class="top-icon-bar hide">
        <div class="dropdown">

            <a data-toggle="dropdown" href="javascript:;" title="">
                <span class="badge badge-absolute bg-blue">8</span>
                <i class="glyph-icon icon-lightbulb-o"></i>
            </a>
            <div class="dropdown-menu">

                <div class="small-box">

                    <div class="popover-title">Color schemes</div>
                    <div class="pad10A clearfix change-layout-theme">
                        <p class="font-gray-dark font-size-11 pad0B">More color schemes will be available soon!</p>
                        <div class="divider mrg10T mrg10B"></div>
                        <a href="javascript:;" class="choose-theme" layout-theme="dark-blue" title="">
                            <span style="background: #2381E9;"></span>
                        </a>
                        <!--                         <a href="javascript:;" class="choose-theme opacity-30" layout-theme="white-blue" title="">
                                                    <span style="background: #2381E9;"></span>
                                                </a> -->
                        <a href="javascript:;" class="choose-theme" layout-theme="dark-green" title="D">
                            <span style="background: #78CE12;"></span>
                        </a>
                        <!--                         <a href="javascript:;" class="choose-theme opacity-30" layout-theme="white-green" title="D">
                                                    <span style="background: #78CE12;"></span>
                                                </a> -->
                        <a href="javascript:;" class="choose-theme" layout-theme="dark-orange" title="">
                            <span style="background: #FF6041;"></span>
                        </a>
                        <!--                         <a href="javascript:;" class="choose-theme opacity-30" layout-theme="white-orange" title="">
                                                    <span style="background: #FF6041;"></span>
                                                </a> -->
                        <a href="javascript:;" class="choose-theme" layout-theme="inverse-blue" title="">
                            <span style="background: #20242A;"></span>
                        </a>
                        <a href="javascript:;" class="choose-theme" layout-theme="dark-gray" title="">
                            <span style="background: #646464;"></span>
                        </a>
                    </div>
                    <div class="popover-title">Layout options</div>
                    <div class="pad10A clearfix">
                        <a class="fluid-layout-btn hidden bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Full width layout</span></a>
                        <a class="boxed-layout-btn bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Boxed layout</span></a>

                        <a class="enable-animations hidden bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Enable animations</span></a>
                        <a class="disable-animations bg-blue-alt medium btn" href="javascript:;" title=""><span class="button-content">Disable animations</span></a>
                    </div>
                    <div class="popover-title">Boxed layout backgrounds</div>
                    <div class="pad10A clearfix">
                        <a href="javascript:;" class="choose-bg" boxed-bg="#000" style="background: #000;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#333" style="background: #333;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#666" style="background: #666;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#888" style="background: #888;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#383d43" style="background: #383d43;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#fafafa" style="background: #fafafa; border: #ccc solid 1px;" title=""></a>
                        <a href="javascript:;" class="choose-bg" boxed-bg="#fff" style="background: #fff; border: #eee solid 1px;" title=""></a>
                    </div>

                </div>

            </div>
        </div>
        <div class="dropdown">

            <a data-toggle="dropdown" href="javascript:;" title="">
                <span class="badge badge-absolute bg-orange">4</span>
                <i class="glyph-icon icon-envelope-o"></i>
            </a>
            <div class="dropdown-menu">

                <div class="scrollable-content medium-box scrollable-small">

                    <ul class="no-border messages-box">
                        <li>
                            <div class="messages-img">
                                <img width="32" src="/assets/images/gravatar.jpg" alt="">
                            </div>
                            <div class="messages-content">
                                <div class="messages-title">
                                    <i class="glyph-icon icon-warning-sign font-red"></i>
                                    <a href="javascript:;" title="Message title">Important message</a>
                                    <div class="messages-time">
                                        3 hr ago
                                        <span class="glyph-icon icon-time"></span>
                                    </div>
                                </div>
                                <div class="messages-text">
                                    This message must be read immediately because of it's high importance...
                                </div>
                            </div> 
                        </li>
                        <li>
                            <div class="messages-img">
                                <img width="32" src="/assets/images/gravatar.jpg" alt="">
                            </div>
                            <div class="messages-content">
                                <div class="messages-title">
                                    <i class="glyph-icon icon-tag font-blue"></i>
                                    <a href="javascript:;" title="Message title">Some random email</a>
                                    <div class="messages-time">
                                        3 hr ago
                                        <span class="glyph-icon icon-time"></span>
                                    </div>
                                </div>
                                <div class="messages-text">
                                    This message must be read immediately because of it's high importance...
                                </div>
                            </div> 
                        </li>
                        <li>
                            <div class="messages-img">
                                <img width="32" src="/assets/images/gravatar.jpg" alt="">
                            </div>
                            <div class="messages-content">
                                <div class="messages-title">
                                    <a href="javascript:;" class="font-orange" title="Message title">Another received message</a>
                                    <div class="messages-time">
                                        3 hr ago
                                        <span class="glyph-icon icon-time"></span>
                                    </div>
                                </div>
                                <div class="messages-text">
                                    This message must be read immediately because of it's high importance...
                                </div>
                            </div> 
                        </li>
                        <li>
                            <div class="messages-img">
                                <img width="32" src="/assets/images/gravatar.jpg" alt="">
                            </div>
                            <div class="messages-content">
                                <div class="messages-title">
                                    <i class="glyph-icon icon-warning-sign font-red"></i>
                                    <a href="javascript:;" title="Message title">Important message</a>
                                    <div class="messages-time">
                                        3 hr ago
                                        <span class="glyph-icon icon-time"></span>
                                    </div>
                                </div>
                                <div class="messages-text">
                                    This message must be read immediately because of it's high importance...
                                </div>
                            </div> 
                        </li>
                        <li>
                            <div class="messages-img">
                                <img width="32" src="/assets/images/gravatar.jpg" alt="">
                            </div>
                            <div class="messages-content">
                                <div class="messages-title">
                                    <i class="glyph-icon icon-tag font-blue"></i>
                                    <a href="javascript:;" title="Message title">Some random email</a>
                                    <div class="messages-time">
                                        3 hr ago
                                        <span class="glyph-icon icon-time"></span>
                                    </div>
                                </div>
                                <div class="messages-text">
                                    This message must be read immediately because of it's high importance...
                                </div>
                            </div> 
                        </li>
                        <li>
                            <div class="messages-img">
                                <img width="32" src="/assets/images/gravatar.jpg" alt="">
                            </div>
                            <div class="messages-content">
                                <div class="messages-title">
                                    <a href="javascript:;" class="font-orange" title="Message title">Another received message</a>
                                    <div class="messages-time">
                                        3 hr ago
                                        <span class="glyph-icon icon-time"></span>
                                    </div>
                                </div>
                                <div class="messages-text">
                                    This message must be read immediately because of it's high importance...
                                </div>
                            </div> 
                        </li>
                    </ul>

                </div>
                <div class="pad10A button-pane button-pane-alt">
                    <a href="messaging.html" class="btn small float-left bg-white">
                        <span class="button-content text-transform-upr font-size-11">All messages</span>
                    </a>
                    <div class="button-group float-right">
                        <a href="javascript:;" class="btn small primary-bg">
                            <i class="glyph-icon icon-star"></i>
                        </a>
                        <a href="javascript:;" class="btn small primary-bg">
                            <i class="glyph-icon icon-random"></i>
                        </a>
                        <a href="javascript:;" class="btn small primary-bg">
                            <i class="glyph-icon icon-map-marker"></i>
                        </a>
                    </div>
                    <a href="javascript:;" class="small btn bg-red float-right mrg10R tooltip-button" data-placement="left" title="Remove comment">
                        <i class="glyph-icon icon-remove"></i>
                    </a>
                </div>

            </div>
        </div>
        <div class="dropdown">

            <a data-toggle="dropdown" href="javascript:;" title="">
                <span class="badge badge-absolute bg-green">9</span>
                <i class="glyph-icon icon-bell"></i>
            </a>
            <div class="dropdown-menu">

                <div class="popover-title display-block clearfix form-row pad10A">
                    <div class="form-input">
                        <div class="form-input-icon">
                            <i class="glyph-icon icon-search transparent"></i>
                            <input type="text" placeholder="Search notifications..." class="radius-all-100" name="" id="">
                        </div>
                    </div>
                </div>
                <div class="scrollable-content medium-box scrollable-small">

                    <ul class="no-border notifications-box">
                        <li>
                            <span class="btn bg-purple icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is an error notification</span>
                            <div class="notification-time">
                                a few seconds ago
                                <span class="glyph-icon icon-time"></span>
                            </div>
                        </li>
                        <li>
                            <span class="btn bg-orange icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is a warning notification</span>
                            <div class="notification-time">
                                <b>15</b> minutes ago
                                <span class="glyph-icon icon-time"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-green btn icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text font-green font-bold">A success message example.</span>
                            <div class="notification-time">
                                <b>2 hours</b> ago
                                <span class="glyph-icon icon-time"></span>
                            </div>
                        </li>
                        <li>
                            <span class="btn bg-purple icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is an error notification</span>
                            <div class="notification-time">
                                a few seconds ago
                                <span class="glyph-icon icon-time"></span>
                            </div>
                        </li>
                        <li>
                            <span class="btn bg-orange icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text">This is a warning notification</span>
                            <div class="notification-time">
                                <b>15</b> minutes ago
                                <span class="glyph-icon icon-time"></span>
                            </div>
                        </li>
                        <li>
                            <span class="bg-blue btn icon-notification glyph-icon icon-user"></span>
                            <span class="notification-text font-blue">Alternate notification styling.</span>
                            <div class="notification-time">
                                <b>2 hours</b> ago
                                <span class="glyph-icon icon-time"></span>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="pad10A button-pane button-pane-alt text-center">
                    <a href="notifications.html" class="btn medium primary-bg">
                        <span class="button-content">View all notifications</span>
                    </a>
                </div>

            </div>
        </div>
        <div class="dropdown">

            <a data-toggle="dropdown" href="javascript:;" title="">
                <span class="badge badge-absolute bg-red">2</span>
                <i class="glyph-icon icon-tasks"></i>
            </a>
            <div class="dropdown-menu" id="progress-dropdown">

                <div class="scrollable-content small-box scrollable-small">

                    <ul class="no-border progress-box">
                        <li>
                            <div class="progress-title">
                                Finishing uploading files
                                <b>23%</b>
                            </div>
                            <div class="progressbar-small progressbar" data-value="23">
                                <div class="progressbar-value bg-blue">
                                    <div class="progressbar-overlay"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-title">
                                Roadmap progress
                                <b>91%</b>
                            </div>
                            <div class="progressbar-small progressbar" data-value="91">
                                <div class="progressbar-value primary-bg">
                                    <div class="progressbar-overlay"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-title">
                                Images upload
                                <b>58%</b>
                            </div>
                            <div class="progressbar-small progressbar" data-value="58">
                                <div class="progressbar-value bg-blue-alt"></div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-title">
                                WordPress migration
                                <b>74%</b>
                            </div>
                            <div class="progressbar-small progressbar" data-value="74">
                                <div class="progressbar-value bg-purple"></div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-title">
                                Agile development procedures
                                <b>91%</b>
                            </div>
                            <div class="progressbar-small progressbar" data-value="91">
                                <div class="progressbar-value primary-bg">
                                    <div class="progressbar-overlay"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-title">
                                Systems integration
                                <b>58%</b>
                            </div>
                            <div class="progressbar-small progressbar" data-value="58">
                                <div class="progressbar-value bg-blue-alt"></div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-title">
                                Code optimizations
                                <b>97%</b>
                            </div>
                            <div class="progressbar-small progressbar" data-value="97">
                                <div class="progressbar-value bg-yellow"></div>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="pad10A button-pane button-pane-alt text-center">
                    <a href="notifications.html" class="btn medium font-normal bg-green">
                        <span class="button-content">View all</span>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div><!-- #page-header -->