<?php $listGroups = Centurion_Auth::getInstance()->getIdentity()->groups->toArray();
        foreach($listGroups as $key => $value){
            $groups[] = $value['id'];
        }
        sort($groups);
?>
<div id="page-sidebar" class="scrollable-content">

    <div id="sidebar-menu">
        <ul>
<!--            <li>
                <a href="dashboard.html" title="Dashboard">
                    <i class="glyph-icon icon-dashboard"></i>
                    Dashboard
                </a>
            </li>-->
            <?php if (in_array(1, $groups)) :?>
                <li>
                    <a href="/admin" title="Administration">
                        <i class="glyph-icon icon-cogs"></i>
                        Administration
                    </a>
                </li>
            <?php endif?>    
            <li>
                <a href="<?php echo $this->url(array('module' => 'resourcing', 'controller' => 'events', 'action' => ''), 'default', true) ?>" title="Calendrier">
                    <i class="glyph-icon icon-calendar"></i>
                    Calendrier
                </a>
            </li>
            <?php if (in_array(1, $groups)) :?>
                <li>
                    <a href="<?php echo $this->url(array('module' => 'resourcing', 'controller' => 'candidat', 'action' => 'new'), 'default', true) ?>" title="Ajouter nouveau candidat">
                        <i class="glyph-icon icon-user"></i>
                        Ajouter un candidat
                    </a>
                </li>
            <?php endif?>    
<!--           <li>
                <a href="details_candidat.html" title="Détails candidats">
                    <i class="glyph-icon icon-tasks"></i>
                    Détails candidat
                </a>
            </li>
            <li>
                <a href="entretien_direction.html" title="Entretien direction">
                    <i class="glyph-icon icon-calendar-o"></i>
                    Entretien direction
                </a>
            </li>
            <li>
                <a href="entretien_operationnel.html" title="Entretien Opérationnel">
                    <i class="glyph-icon icon-calendar-o"></i>
                    Entretien opérationnel
                </a>
            </li>
            <li>
                <a href="entretien_prequalif.html" title="Entretien Pré-Qualif">
                    <i class="glyph-icon icon-calendar-o"></i>
                    Entretien pré-Qualif
                </a>
            </li>
            <li>
                <a href="fiche_entretiens.html" title="Fiche entretiens">
                    <i class="glyph-icon icon-archive"></i>
                    Fiche entretiens
                </a>
            </li>-->
            <li>
                <a href="<?php echo $this->url(array('module' => 'resourcing', 'controller' => 'candidat', 'action' => 'index'), 'default', true) ?>" title="Liste candidats">
                    <i class="glyph-icon icon-group"></i>
                    Liste candidats
                </a>
            </li>
<!--            <li>
                <a href="planifier_entretien.html" title="Planifier un entretien">
                    <i class="glyph-icon icon-calendar"></i>
                    Planifier un entretien
                </a>
            </li>-->
            <li>
                <a href="<?php echo $this->url(array('module' => 'resourcing', 'controller' => 'candidat', 'action' => 'search'), 'default', true) ?>" title="Recherche">
                    <i class="glyph-icon icon-search"></i>
                    Recherche
                </a>
            </li>    
<!--            <li>
                <a href="javascript:;" title="Gestion des candidats">
                    <i class="glyph-icon icon-gears"></i>
                    Gestion des candidats
                </a>
                <ul>
                    <li>
                        <a href="<?php //echo $this->url(array('module' => 'resourcing', 'controller' => 'candidat', 'action' => 'search'), 'default', true) ?>" title="Recherche">
                            <i class="glyph-icon icon-search"></i>
                            Recherche
                        </a>
                    </li>
                    <li>
                        <a href="<?php //echo $this->url(array('module' => 'resourcing', 'controller' => 'candidat', 'action' => 'export-candidats'), 'default', true) ?>" title="Exporter la liste des candidats">
                            <i class="glyph-icon icon-download"></i>
                            Exporter
                        </a>
                    </li>
                    <li>
                        <a href="<?php //echo $this->url(array('module' => 'resourcing', 'controller' => 'candidat', 'action' => 'export-candidats'), 'default', true) ?>" title="Exporter la liste des candidats">
                            <i class="glyph-icon icon-envelope"></i>
                            Partager la liste
                        </a>
                    </li>
                </ul>                
            </li>-->

        </ul>
        <div class="divider mrg5T mobile-hidden"></div>
    </div>

</div><!-- #page-sidebar -->