<?php 
//TODO: fix the http_build_query because it's sad
?>
<div class="pager button-group">
    <?php if ($this->previous):?>
        <a class="btn medium primary-bg float-left first" 
           href="<?php echo $this->urlFilter . '/page/0?' . $this->filters; ?>">
               <i class="glyph-icon icon-angle-double-left"></i>
        </a>
        <a class="btn medium primary-bg float-left  previous" 
           href="<?php echo $this->urlFilter . '/page/' . $this->previous . '?' . $this->filters;?>">
               <i class="glyph-icon icon-angle-left"></i>
        </a>  
    <?php else:?>
        <a class="first" href="#"></a>
        <a class="previous" href="#"></a>  
    <?php
    endif;
    $currentTotalItemCount = ($this->current - 1) * $this->itemCountPerPage;
    ?>
    <div class="button-group float-left">
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
        
        <a href="<?php echo $this->urlFilter . '/page/' . $page . '?' . $this->filters; ?>" class="btn medium ui-state-default">
                    <?php echo $page; ?>
                </a>
            <?php else: ?>
              <a href="javascript:;" class="btn medium disabled ui-state-default">
                    <?php echo $page; ?>
                </a>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
    <?php if ($this->next):?>
        <a class="btn medium float-left primary-bg next" 
           href="<?php echo $this->urlFilter . '/page/' . $this->next . '?' . $this->filters;?>">
               <i class="glyph-icon icon-angle-right"></i>
        </a>
        <a class="btn medium float-left primary-bg last" 
           href="<?php echo $this->urlFilter . '/page/' . $this->pageCount . '?' . $this->filters;?>">
               <i class="glyph-icon icon-angle-double-right"></i>
        </a>  
    <?php else:?>
        <a class="next" href="#"></a>
        <a class="last" href="#"></a>  
    <?php endif;?>
</div>