<div id="sidebar-search">
    <input type="text" placeholder="Search..." class="autocomplete-input input tooltip-button" data-placement="bottom" title="Type &apos;jav&apos; to see the available tags..." id="" name="">
    <i class="glyph-icon icon-search"></i>
</div>