    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <?php $classe_cv = (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'candidat') ? 
                    'ui-tabs-active ui-state-active' : '';
                if(Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'candidat' 
                        && Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'get' 
                        && !Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id')):?>
        
                    <li class="font-white bg-gray-alt ui-state-default ui-corner-top <?php echo $classe_cv?>">
                        <a href="<?php echo $this->url(array(
                                    'module' => 'resourcing', 
                                    'controller' => 'candidat', 
                                    'action' => 'get',
                                    'candidat-id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('id'),
                                    /*'q' => Zend_Controller_Front::getInstance()->getRequest()->getParam('q') ? Zend_Controller_Front::getInstance()->getRequest()->getParam('q')
                                            :((Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'candidat'
                                                && Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'new') ? null 
                                            : Zend_Controller_Front::getInstance()->getRequest()->getControllerName()),
                                    'id' => (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'candidat' 
                                                && Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'new') ? null 
                                            : Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id'),*/
                                    'saving' => null)
                                )?>" title="Information candidat">
                            <i class="glyph-icon font-blue-alt icon-user"></i> Infos candidat
                        </a>
                    </li>
        <?php   else:?>      
                    <li class="font-white bg-gray-alt ui-state-default ui-corner-top <?php echo $classe_cv?>">
                        <a href="<?php echo $this->url(array(
                                    'module' => 'resourcing', 
                                    'controller' => 'candidat', 
                                    'action' => (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'candidat'
                                                && Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'new') ? 'new' : 'get',
                                    'q' => Zend_Controller_Front::getInstance()->getRequest()->getParam('q') ? Zend_Controller_Front::getInstance()->getRequest()->getParam('q')
                                            :((Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'candidat'
                                                && Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'new') ? null 
                                            : Zend_Controller_Front::getInstance()->getRequest()->getControllerName()),
                                    'id' => (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'candidat' 
                                                && Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'new') ? null 
                                            : Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id'),
                                    'saving' => null)
                                )?>" title="Information candidat">
                            <i class="glyph-icon font-blue-alt icon-user"></i> Infos candidat
                        </a>
                    </li>
        <?php   endif?>            
        <?php $listGroups = Centurion_Auth::getInstance()->getIdentity()->groups->toArray();
        foreach($listGroups as $key => $value){
            $groups[] = $value['id'];
        }
        sort($groups);
//        if(in_array(Zend_Controller_Front::getInstance()->getRequest()->getControllerName(), array('prequalif', 'direction'))
//                || in_array(Zend_Controller_Front::getInstance()->getRequest()->getParam('q'), array('prequalif', 'direction'))
//                || (Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'candidat' 
//                        && !Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id')))
//            $currentGroup = array(1, 2);                        
//        if(Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'operation' ||
//            Zend_Controller_Front::getInstance()->getRequest()->getParam('q') == 'operation')
//            $currentGroup = array(1, 2, 4, 6);
//        
//        $affiche = array_intersect($groups, $currentGroup);
//        print '<pre>';print_r($groups);
//        print '<pre>';print_r($currentGroup);die;
        ?>
<?php if(isset($this->entretiens) && !empty($this->entretiens)):?>
    <?php foreach($this->entretiens as $key => $entretiens):?>
        <?php //if(Centurion_Auth::getInstance()->getIdentity()->is_super_admin != 1):?>
        <?php //if(in_array($groups, array(1, 2, 4, 6))):?>
        <?php //if(!empty($affiche)):?>
            <?php //if(Centurion_Auth::getInstance()->getIdentity()->id == $entretiens->id_operationnel):?>
                <?php $extraclass = ($entretiens['id'] == Zend_Controller_Front::getInstance()->getRequest()->getParam('id') 
                            && Zend_Controller_Front::getInstance()->getRequest()->getActionName() != 'new'
                            && Zend_Controller_Front::getInstance()->getRequest()->getControllerName() != 'candidat')
                            ? 'ui-tabs-active ui-state-active' : ''?>
                <?php $date_entretien = new Zend_Date($entretiens->date_entretien, 'yyyy-mm-dd')?>
                <?php $candidatId = Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id')?>
                <li class="font-white bg-gray-alt ui-state-default ui-corner-top <?php echo $extraclass?>">
                    <a href="<?php echo $this->url(array(
                                'module' => 'resourcing', 
                                'controller' => $this->destination ? $this->destination : Zend_Controller_Front::getInstance()->getRequest()->getControllerName(), 
                                'action' => 'get',
                                'candidat-id' => isset($candidatId) ? $candidatId : Zend_Controller_Front::getInstance()->getRequest()->getParam('id'),
                                'id' => $entretiens['id'],
                                'q' => null,
                                'saving' => null)
                            )?>" title="Entretien du <?php echo $date_entretien->get('dd/mm/yy')?>">
                        Entretien du <?php echo $date_entretien->get('dd/mm/yy')?>
                    </a>
                </li>
        <?php //endif?>
    <?php endforeach?>
<?php endif?>
        <?php $classes = Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'new' ? 
                    'ui-tabs-active ui-state-active' : '';
        $intersect = array_intersect(array(1, 2, 4), $groups);
        $direction_intersect = array_intersect(array(2, 4), $groups);
        $view_add_new_operationel_interview_link = Centurion_Auth::getInstance()->getIdentity()->isAllowed('view_add_new_operationel_interview_link');
        $view_add_new_prequalif_interview_link = Centurion_Auth::getInstance()->getIdentity()->isAllowed('view_add_new_prequalif_interview_link');
        //$manager_intersect = array_intersect(array(2, 4, 6), $groups);
        //print_r($manager_intersect);die;
        //Vérifier si c'est bien un entretien prequalif pour seulement les admin
        //Ou si c'est un entr. operationnel pour les opérationnels
        //oui si c'est un entr. de drirection pour les directionnels
        $addTab = false;
        if((Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'prequalif' 
                || Zend_Controller_Front::getInstance()->getRequest()->getParam('q') == 'prequalif') 
                && $view_add_new_prequalif_interview_link){
            $addTab = true;
        } elseif((Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'operation' 
                || Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'direction'
                || in_array(Zend_Controller_Front::getInstance()->getRequest()->getParam('q'), array('operation', 'direction')))
                && $view_add_new_operationel_interview_link) {
            $addTab = true;
            
        } /*elseif((Zend_Controller_Front::getInstance()->getRequest()->getControllerName() == 'operation' 
                || Zend_Controller_Front::getInstance()->getRequest()->getParam('q') == 'operation')
                && !empty($manager_intersect)) {
            $addTab = true;
            
        }*/
        //var_dump($direction_intersect);die;
        if($addTab):?>
            <li class="font-white bg-gray-alt ui-state-default ui-corner-top <?php echo $classes?>">
                <a href="<?php echo $this->url(array(
                            'module' => 'resourcing', 
                            'controller' => $this->destination, 
                            'action' => 'new', 
                            'q' => null,
                            'candidat-id' => Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id') 
                                        ? Zend_Controller_Front::getInstance()->getRequest()->getParam('candidat-id') 
                                    : ( Zend_Controller_Front::getInstance()->getRequest()->getParam('saving') == 'done' 
                                    ? Zend_Controller_Front::getInstance()->getRequest()->getParam('id') : null),
                            'id' => null,
                            'saving' => null)
                        )?>" title="Nouvel entretien">
                    <i class="glyph-icon font-blue-alt icon-plus-square"></i> Nouvel entretien
                </a>
            </li>
        <?php endif?>    
    </ul>