<?php
//print '<pre>';print_r($this->candidat);die;
$baseUrl = $this->baseUrl();
$this->placeholder('headling_1')->captureStart(); ?>
<h1>
    <?php echo $this->placeholder('headling_1_content') ?>
        <?php if ($this->previous):?>
            <a class="icon icon-prev" href="<?php echo $this->url(array('id' => $this->previous->id));?>">
                <?php echo $this->translate('Previous'); ?>
            </a>
        <?php else:?>
            &nbsp;
        <?php
        endif;
        ?>
        <?php if ($this->next):?>
            <a class="icon icon-next" href="<?php echo $this->url(array('id' => $this->next->id));?>">
                <?php echo $this->translate('Next')?>
            </a>
        <?php else:?>
            &nbsp;
        <?php endif;?>
</h1>
<?php /*?>
    <div class="pager" >
        <span class="infos"><?php echo $this->translate('<strong>%d</strong> of <strong>%d</strong>', $this->currentCount,
                                                    $this->totalCount);?></span>
    </div>
    <?php */ ?>
<?php $this->placeholder('headling_1')->captureEnd(); ?>
<?php 
if (isset($this->error) || isset($this->infos)) : ?>
    <div class="ui-state-message">
        <?php if (isset($this->errors)):
            $this->errors = (array) $this->errors;
            foreach ($this->errors as $error):
                ?>
                <p class="ui-state-error"">
                    <?php echo $error;?>
                </p>
            <?php
            endforeach;
        ?>
        <?php endif;?>
        <?php if (isset($this->infos)):
            $this->infos = (array) $this->infos;

            foreach ($this->infos as $info):
                ?>
                    <p class="ui-state-highlight">
                        <?php echo $info;?>
                    </p>
                <?php
            endforeach;
        endif;?>
    </div>
<?php endif;?>
<h3>Opérationnel</h3><br />
<a href="<?php echo $this->url(array('module' => 'resourcing', 'controller' => 'candidat', 'action' => 'detail'))?>" class="font-blue-alt">
    <?php echo ($this->candidat->first_name && $this->candidat->last_name)?  $this->candidat->first_name . ' ' . $this->candidat->last_name : ''?>
    <?php echo $this->candidat->poste ? ' / ' . $this->candidat->poste : ''?>
</a>
<div class="clear"></div>
<div class="divider"></div>
<div class="button-block-justified col-md-12" id="prequalif-entretiens">
    <?php echo $this->partial('partials/tabs.phtml', $this);?>
    <br class="clear" />
    <form action="<?php echo $this->form->getAction() ?>" class="col-md-12 center-margin" method="post" id="form-operation">
        <div class="col-md-12">
            <?php echo $this->form->getElement('id_operationnel')?>
            <?php $options = $this->form->getElement('id_operationnel')->getMultiOptions();?>
            <?php if(Zend_Controller_Front::getInstance()->getRequest()->getActionName() == 'get'){?>
                    <div class="form-row col-md-6 float-none">
                        <div class="form-label col-md-4">
                            <label for="operationnel">Opérationnel</label>
                        </div>
                        <div class="form-input col-md-7">
                            <select name="operationnel"
                                    id="operationnel-input" disabled>
                                <option value="<?php echo $this->form->getElement('id_operationnel')->getValue() ?>" selected="selected">
                                    <?php echo $options[$this->form->getElement('id_operationnel')->getValue()] ?>
                                </option>
                            </select>
                        </div>
                    </div>
                
            <?php }?>
            <?php echo $this->form->getElement('date_entretien')?>

            <?php echo $this->form->getElement('points_positifs')?>
            
            <?php echo $this->form->getElement('points_negatifs')?>
            
            <?php echo $this->form->getElement('verdict')?>

            <?php echo $this->form->getElement('date_decision')?>
            
            <?php echo $this->form->getElement('commentaire')?>

            <?php echo $this->form->getElement('id_candidat')?>
            <?php echo $this->form->getElement('_XSRF')?>
            <?php echo $this->form->getElement('formId')?>
            <?php if(Zend_Controller_Front::getInstance()->getRequest()->getActionName() != 'get' 
                    || Centurion_Auth::getInstance()->getIdentity()->id == $this->form->getElement('id_operationnel')->getValue()):?>
                <div class="form-row col-md-12 float-none">
                    <button class="btn primary-bg large float-right" id="form-operation-button">
                        <span class="button-content">Valider</span>
                    </button>
                </div>
            <?php endif?>
        </div>
    </form>
</div>
<script lang="javascript">
//    $(document).ready(function(){
//        $('#verdict-input-Oui').click(function() {
//            $(this).parent().parent().next('div.form-row').next('div.form-row').show();
//        });
//        $('#verdict-input-Non').click(function() {
//            $(this).parent().parent().next('div.form-row').next('div.form-row').hide();
//        });
//    });

</script>

