<div class="col-md-8">
    <h4 class="text-transform-upr text-left mrg0T mrg15B font-gray font-size-14">Candidats</h4>
    <table class="table">
        <thead>
            <tr>
                <th class="font-black">Candidat</th>
                <th class="font-black">Poste</th>
                <th class="font-black">Expérience</th>
                <th class="font-black">Entreprise</th>
                <th class="font-black">Pré-Qual</th>
                <th class="font-black">E.OP</th>
                <th class="font-black">E.Dir</th>
                <th class="font-black">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="grid-sortable">
            
            <?php
            $i = 0;
            foreach ($this->result as $id => $row):
                $this->row = $row['row'];
                unset($row['row']);?>
                        <tr class="<?php echo ($i++%2 == 1)?'even':'odd';?>">
                            <td class="font-bold text-left"><?php echo $row['last_name'] . ' ' . $row['first_name']?></td>
                            <td><?php echo $row['poste']?></td>
                            <td><?php echo is_object($row['Experience']) ? $row['Experience']->experience : ''?></td>
                            <td><?php echo $row['societe']?></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td valign="top" class="col" width="10%">
                                <ul class="actions">
                                    <?php foreach ($this->rowActions as $key => $action): ?>
                                    <?php if($key == 'Publish'): ?>
                                        <?php
                                        if($this->row->published == '1') {
                                            $action['cls'] = 'ui-icon-locked';
                                        }
                                        ?>
                                        <?php echo $this->GridRowActions($this->row->published == '1' ? 'Unpublish' : 'Publish', $action); ?>
                                    <?php else: ?>
                                    <?php echo $this->GridRowActions($key, $action); ?>
                                    <?php endif ?>
                                    <?php endforeach; ?>
                                </ul>
                            </td>
                        </tr>
            <?php endforeach;?>
        </tbody>
    </table>
    <!--Pagination -->
    <div class="col-md-4 center-div">
        <div class="button-group">
            <a href="javascript:;" class="btn medium primary-bg float-left">
                <i class="glyph-icon icon-chevron-left"></i>
            </a>
            <div class="button-group float-left">
                <a href="javascript:;" class="btn medium ui-state-default">1</a>
                <a href="javascript:;" class="btn medium disabled ui-state-default">2</a>
                <a href="javascript:;" class="btn medium ui-state-default">3</a>
                <a href="javascript:;" class="btn medium ui-state-default">4</a>
            </div>
            <a href="javascript:;" class="btn medium float-left primary-bg">
                <i class="glyph-icon icon-chevron-right"></i>
            </a>
        </div>
    </div>
    <!-- Fin Pagination -->
</div>
<div class="col-md-4">
    <form action="" class="col-md-10 center-margin" method="">
        <div class="form-row pad0B row">
            <div class="form-label col-md-4">
                <label for="">
                    Filtrer par:
                </label>
            </div>
            <div class="form-input col-md-10">
                <select id="" class="col-md-8" name="">
                    <option>Nouveau</option>
                    <option>En attente d'évaluation</option>
                    <option>Entretien planifié</option>
                    <option>Offre faite</option>
                    <option>Rejeté</option>
                </select>
            </div>
        </div>
    </form>
    <p class="mrg20T mrg25L"><i class="glyph-icon icon-plus-square"></i>
        <a href="<?php echo $this->url(array('module' => 'resourcing', 'controller' => 'candidat', 'action' => 'new'), 'default', true) ?>" class="mrg10L">Ajouter candidat</a>
    </p>
    <p class="mrg20T mrg25L"><i class="glyph-icon icon-upload"></i>
        <a href="#" class="mrg10L">Importer candidat</a>
    </p>
    <p class="mrg20T mrg25L"><i class="glyph-icon icon-download"></i>
        <a href="#" class="mrg10L">Exporter tous les candidats</a>
    </p>
    <p class="mrg20T mrg25L"><i class="glyph-icon icon-cloud-download"></i>
        <a href="#" class="mrg10L">Exporter cette vue</a>
    </p>
</div>