<div class="form-row <?php echo $this->element->getAttrib('class-tag') ?>">
        <button <?php echo $this->element->getAttrib('button-tag') ?>>
            <span class="button-content">Valider</span>
        </button>
</div>
