<?php
$error = count($this->element->getMessages());
$value = $this->element->getValue();
?>
<div class="form-row <?php echo $this->element->getAttrib('class-tag') ?>">
        <div class="form-label <?php echo $this->element->getAttrib('class-label') ?>">
            <label for="<?php echo $this->element->getLabel()?>">
                <?php echo $this->element->getLabel()?>
                <?php if($this->element->isRequired()):?>
                    <span class="required">*</span>
                <?php endif?>
            </label>
        </div>
        <div class="form-checkbox-radio <?php echo $this->element->getAttrib('class-input') ?>">
            <?php foreach($this->element->getMultiOptions() as $key => $option):?>
                <div class="col-md-3 ">
                    <input 
                        <?php if($this->element->isRequired()):?>data-required="true"<?php endif?>
                        type="checkbox" 
                        name="<?php echo $this->element->getName()?><?php echo $this->element->isArray() ? '[]' : '' ?>" 
                        id="<?php echo $key ?>-input" value="<?php echo $key?>"
                        <?php echo (is_array($value) && in_array($key, $value)) ? (' checked') : '' ?>
                    />
                    <label for="<?php echo $option ?>-input">
                        <?php echo $option ?>
                    </label>
                    <?php if($error): ?>
                        <p class="help-block"><?php echo implode(' ', $this->element->getMessages()) ?></p>
                    <?php endif ?>
                    <?php if($this->element->getAttrib('help-note')): ?>
                        <p class="help-block"><?= $this->element->getAttrib('help-note') ?></p>
                    <?php endif ?>
                </div>
            <?php endforeach?>
        </div>
</div>

