<?php
$error = count($this->element->getMessages());
$value = '';
if(Zend_Controller_Front::getInstance()->getRequest()->getParam('id')){
    $candidatObject = new Resourcing_Model_DbTable_Candidat();
    $where = $candidatObject->getAdapter()->quoteInto('id = ?', Zend_Controller_Front::getInstance()->getRequest()->getParam('id'));
    $candidat = $candidatObject->fetchRow($where);
    $value = $candidat->cv;
}
?>
<?php $error = count($this->element->getMessages()); ?>
<div class="form-row <?php echo $error? ' error' : '' ?> <?php echo $this->element->getAttrib('class-tag')?>">
    <div class="form-label <?php echo $this->element->getAttrib('class-label') ?>">
        <label for="<?php echo $this->element->getName() ?>">
                <?php echo $this->element->getLabel() ?>
            <?php if($this->element->isRequired()):?>
                <span class="required">*</span>
            <?php endif?>
        </label>
        <div class="<?php echo $this->element->getAttrib('class-input') ?>">
            <div class="fileinputs cvCol"><input type="file"
                   <?php if($this->element->isRequired()):?>data-required="true"<?php endif?>
                   class=" hidden_f xlarge<?php echo $error? ' error' : '' ?>"
                   name="<?php echo $this->element->getName() ?>"
                   id="<?php echo $this->element->getName() ?>-input" /></div>
            <?php if($error): ?>
                <span class="help-inline"><?php echo implode(' ', $this->element->getMessages()) ?></span>
            <?php endif ?>
            <?php if($this->element->getAttrib('help-note')): ?>
                <p class="help-block"><?php echo $this->element->getAttrib('help-note') ?></p>
            <?php endif ?>
        </div>
    </div>
</div>    