<?php
$error = count($this->element->getMessages());
$value = '';
if (Zend_Controller_Front::getInstance()->getRequest()->getParam('id')) {
    $candidatObject = new Resourcing_Model_DbTable_Candidat();
    $where = $candidatObject->getAdapter()->quoteInto('id = ?', Zend_Controller_Front::getInstance()->getRequest()->getParam('id'));
    $candidat = $candidatObject->fetchRow($where);
    //print '<pre>';print_r($candidat);die;
    $value = $candidat->photo;
}
?>
<?php $error = count($this->element->getMessages()); ?>
<div class="form-row <?php echo $error ? ' error' : '' ?> <?php echo $this->element->getAttrib('class-tag') ?>">
    <div class="form-label <?php echo $this->element->getAttrib('class-label') ?>">
        <div class="fileinput fileinput-new <?php echo $this->element->getAttrib('class-input') ?>" data-provides="fileinput">
            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100px; height: 100px;"><img src="/assets/images/avatar.jpg" /> </div>
            <div>
                <span class="btn btn-default btn-file">
                <div class="fileinputs">
                    <input type="file" <?php if ($this->element->isRequired()): ?>data-required="true"<?php endif ?>
                        class=" hidden_f xlarge<?php echo $error ? ' error' : '' ?>"
                        name="<?php echo $this->element->getName() ?>"
                        id="<?php echo $this->element->getName() ?>-input" /> </div>
                    <!--<a href="#" id="delete-photo" class="btn btn-default">Remove</a>-->
                    <?php if ($error): ?>
                        <span class="help-inline"><?php echo implode(' ', $this->element->getMessages()) ?></span>
                    <?php endif ?>
                        <?php if ($this->element->getAttrib('help-note')): ?>
                            <p class="help-block"><?php echo $this->element->getAttrib('help-note') ?></p>
                        <?php endif ?>
                </span>
                <!--<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>-->
            </div>
        </div>
    </div>
</div>    