<?php
$error = count($this->element->getMessages());
$value = $this->element->getValue();
?>
<div class="form-row <?php echo $this->element->getAttrib('class-tag') ?>">
        <div class="form-label <?php echo $this->element->getAttrib('class-label') ?>">
            <label for="<?php echo $this->element->getLabel()?>">
                <?php echo $this->element->getLabel()?>
                <?php if($this->element->isRequired()):?>
                    <span class="required">*</span>
                <?php endif?>
            </label>
        </div>
        <div class="form-input <?php echo $this->element->getAttrib('class-input') ?>">
            <textarea 	class="input-xlarge<?php echo $error ? ' error' : '' ?>"
                       <?php if($this->element->isRequired()):?>data-required="true"<?php endif?>
                       name="<?php echo $this->element->getName() ?><?php echo $this->element->isArray() ? '[]' : '' ?>"
                       id="<?php echo $this->element->getName() ?>-textarea"><?php echo $value !== null ? ( $value ) : '' ?></textarea>

                <?php if ($this->element->getAttrib('help-note')): ?>
                    <p class="help-block"><?php echo $this->element->getAttrib('help-note') ?></p>
                <?php endif ?>
                <?php if ($error): ?>
                    <p class="help-block"><?php echo implode(' ', $this->element->getMessages()) ?></span>
                <?php endif ?>
        </div>
</div>
